[2013-06-28 18:23] marceloemanoel opened #1 "Problem setting the classLoader"
Hi. I'm making a [gradle plugin](http://github.com/marceloemanoel/gradle-migrations-plugin) to integrate mybatis migrations. After migrating my source code to version version 3.1.0 of mybatis-migrations the same code that worked before the upgrade stopped working. It seems that the new behavior is ignoring my attempt to set the driver classloader as can be seen [here](https://github.com/marceloema

[2013-07-01 16:23] #1 closed, assigned to harawata

[2013-07-10 11:49] harawata opened #2 "Support for Runtime Schema Upgrade (i.e. in-app migration)"
The goal is to provide a flexible and easy-to-use API for java programs that need migrations at runtime.
The API should provide:
1. a way to pass DataSource for database operations.
2. a way to read migration scripts from inside JAR.

The targets of this issue is the following database operation commands.
- bootstrap
- up
- down
- status
- version
- pending

This was originally reported as https:/

[2013-09-26 15:02] step307 opened #3 "script command understands parameters wrong way"
MyBatis migrations version 3.1.0
Given:
Migration "1"
CREATE TABLE t1;
--//@UNDO
DROP TABLE t1;
Migration "2"
CREATE TABLE t2;
--//@UNDO
DROP TABLE t2;

run: migrate script 1 2
expected result:
CREATE TABLE t2;
actual result:
CREATE TABLE t1;
CREATE TABLE t2;

run: migrate script 2 2
expected result: error
actual result:
CREATE TABLE t2;

run: migrate script 2 1
expected result:
DROP TABLE t2;
act

[2013-09-26 15:20] step307 opened #4 "extend script command"
Enhancement proposal:

New mode for command "script" to generate a script for all pending migrations (similar to up)

Could be "migrate script" without version given or "migrate script up"

[2013-09-27 13:36] #3 closed, assigned to harawata

[2013-10-11 07:41] koen-serry opened #5 "Missing migrate script in the zip"
I think the migrate script is missing in the zip

[2013-12-26 16:51] #2 closed, assigned to harawata

[2014-01-27 15:31] heikomaass opened #6 "mybatis-migrations-3.2.0 scripts contain references to wrong jars"
In bin/migrate:

[code]

In bin/migrate.cmd:

[code]

I would expect that mybatis-3.2.4.jar and mybatis-migrations-3.2.0.jar are referenced.

[2014-01-27 15:41] #6 closed, assigned to nobody

[2014-02-11 15:53] nglsatheesh opened #7 "Override the System Defined JdbcType"
Hi

In MyBatis it wont override the JdbcType if i specify the JdbcType in the parameter

eg, Select \* from table_name where id = #{value,jdbcType=NUMERIC}

for the above statement if the type of value is string , it is set as VARCHAR data-type , Instead of Numeric  because of this it impact the performance , the databas wont use the index,

Eventhough i specify as #{value,jdbcType=NUMERIC,javaTyp

[2014-02-11 15:56] #7 closed, assigned to nobody

[2014-03-31 05:32] #5 closed, assigned to nobody

[2014-04-11 19:36] danielqiu opened #8 "MyBatis Migrations: migrate up causes org.apache.ibatis.jdbc.RuntimeSqlException"
I just installed Mybatis Migration and followed their instructions. The init, new, status commands worked but "migrate up" causes the below error:

<pre>
------------------------------------------------------------------------
-- MyBatis Migrations - up
------------------------------------------------------------------------
========== Applying: 20140410190604_create_changelog.sql ================

[2014-04-11 20:05] #8 closed, assigned to nmaves

[2014-04-17 18:18] danielqiu opened #9 "Does “migrate new” automatically generate the changes?"
With the "migrate new" command, it generates a sql file:

<pre>
-- // create blog table
-- Migration SQL that makes the change goes here.

-- //@UNDO
-- SQL to undo the change goes here.
</pre>

Does the command detect my table and data changes and fill in with the script, such as Alter Table query, automatically? Or I have to fill in the scripts manually?

[2014-04-17 18:19] #9 closed, assigned to nmaves

[2014-10-04 22:14] tmackenzie opened #10 "Environment Variables for db connection variables."
Given a user that wants to run migrations
When I specify that I want to use environment variables in my environment's setting file
[code]

And I specify which environment variables to use for the connection settings:
[code]

And I run `mvn migration:up` or `mvn migration:pending`
Then set up the db connection using the following:
`DB_DRIVER` for the `driver` property,
`DB_URL` for the `url` proper

[2014-12-28 13:59] liborjelinek opened #13 "migrate new doesn't correctly handle . (dot) in description"
If you use dot "." in new migration description, e.g.

[code]

a corresponding SQL script with correct filename is created ("Make_column_TABLE.COL_not_null.sql"). However migrate status command show description trimmed before first ".", e.g.

[code]

Also, when I "migrate up", incorrect trimmed description is saved to CHANGELOG table.

[2014-12-30 15:54] #13 closed, assigned to nmaves

[2015-01-03 03:36] roboll opened #14 "non-timestamp sequence"
we use migrations, but with manually sequenced files instead of the timestamps generated by `migrate new`. i have some code to introduce a property to switch between sequence types for the `new` command - would you be willing to accept this upstream? if so, i'll submit a pr to include it.

[2015-01-04 15:52] nmaves commented on #14
Robert can your provide an example of what a manually sequenced file name might be?  You are welcome to submit a pull request, I just can't give you an answer without seeing some more code.

[2015-01-04 15:58] nmaves commented on #10
This feature already exists in the migrations application.  You can find out to set up different environments here [Init](http://mybatis.github.io/migrations/init.html).  Let me know if you are looking for something else and I am misunderstanding your request.

[2015-01-09 03:16] robertcboll commented on #14
[code]

[2015-03-10 17:11] WalterPhillips commented on #14
Check out this pull request: https://github.com/mybatis/migrations/pull/16

[2015-04-07 21:11] dtanner commented on #10
If I'm understanding correctly, @tmackenzie is referring to system environment variables. e.g.   define and use something like `System.getenv("MYBATIS_DB_DRIVER")` instead of specifying a properties file.

[2015-04-07 21:26] tmackenzie commented on #10
yes, I did refer to system environment variables. I have moved onto another migration maven plugin. best of luck.

[2015-04-13 13:02] rpm75 opened #17 "Timestamp on init"
Hi,

migrate init creates folders and files, including some .sql scripts with timestamps.
Problem is that those sql scripts use default timestamp (time_zone = GMT+0) and I would like to initialize those scripts with my correct timezone (GMT+2).

It should be possible to either
1) pass a "time_zone" parameter to the init command, so that files are created with the proper timestamp
OR
2) remove the

[2015-06-09 14:23] Pacane opened #20 "If statement in migration scripts?"
Is there any way to use some conditional logic in a migration script? I have 2 databases (hsqlb and postgres) and it seems sometimes their syntax differ. I'd like to run specific parts of migration scripts based on the selected environment.

[2015-06-10 00:36] musserjw opened #21 "missing bin file in .zip file"
I just downloaded the zip and followed the instructions in the readme file.  It references a bin folder in the zip, but one doesn't exist.  Is the readme outdated, or am I just missing something.

[2015-06-10 02:29] harawata commented on #21
Which .zip file are you referring to?
The latest one (3.2.0) on the release page contains the bin directory correctly.
https://github.com/mybatis/migrations/releases

[2015-06-10 13:39] musserjw commented on #21
Didn't see the releases link.  I was just going off of the one on the front page.  Thank you very much.

[2015-06-12 06:34] harawata commented on #21
You are welcome :-)

[2015-06-12 06:34] #21 closed

[2015-07-22 16:20] amrit7 opened #23 "Does MyBatis Migrations work with ParAccel?"
Hi,

I'm using ParAccel and I cannot run: migrate status

-- MyBatis Migrations FAILURE
-- Total time: 0s
-- Finished at: Wed Jul 22 17:15:03 BST 2015
-- Final Memory: 5M/480M

ERROR: Could not create SqlRunner. Cause: java.sql.SQLException: Error setting driver on UnpooledDataSource. Cause: java.lang.ClassNotFoundException: paraccel-jdbc.jar

Environment File contains
JDBC connection properties.

[2015-07-22 16:22] h3adache commented on #23
Give the full path to the jdbc jar.

[2015-07-22 16:24] h3adache commented on #20
There is not. There's no plans to support this. Is this something that you can handle with different modules?

[2015-07-22 16:38] h3adache commented on #17
Support for this was added by @harawata for issue #2 if this isn't what you were asking we can reopen this.

[2015-07-22 16:38] #17 closed

[2015-07-22 16:45] h3adache commented on #10
Is this still something people are requesting? There's no vote option for github so I can't tell lol

[2015-07-22 16:51] amrit7 commented on #23
Hi,

thanks - I've now given full path to JDBC - now the error:

ERROR: Could not create SqlRunner. Cause: java.sql.SQLException: Error setting driver on UnpooledDataSource. Cause: java.lang.IllegalArgumentException: name

[2015-07-22 17:05] h3adache commented on #23
I'm sorry I didn't mean in driver. I meant specify a driver_path.
Or just drop your driver into the correct location.
Please read http://mybatis.github.io/migrations/init.html

[2015-07-22 17:05] #23 closed

[2015-07-22 19:45] dtanner commented on #10
FWIW - I don't need it, although it would be a nice to have feature.  Our current workaround is to use saltstack to dynamically configure the properties file per environment.  And for me the ideal solution would actually be for the migrations to pull their config from etcd, since that's what we're using as our centralized configuration management for our DB connection info.  I wouldn't expect that

[2015-07-22 21:24] h3adache commented on #10
I've always used maven or gradle interpolation do what you just said without the use of saltstack. saltstack does look nice though lol For configurable migration groups, feel free to open an issue or post on the mailing list to discuss it there.

[2015-07-23 10:53] amrit7 commented on #23
Hi,

I'm still getting:
ERROR: Could not create SqlRunner. Cause: java.sql.SQLException: Error setting driver on UnpooledDataSource. Cause: java.lang.ClassNotFoundException: paraccel-jdbc.jar

I'm using Actian's ParAccel JDBC driver:
http://esd.actian.com/product/Matrix_Drivers/JDBC/java/

I had been through http://mybatis.github.io/migrations/init.html
I already applied the init command, so have

[2015-07-23 14:49] amrit7 commented on #23
This issue is not Closed.

[2015-07-23 15:50] h3adache commented on #23
Not to be rude but 2 seconds of [googling](https://www.aquaclusters.com/app/home/project/public/aquadatastudio/wikibook/Documentation14/page/305/ParAccel-Analytic-Platform-JDBC-Drivers) told me that you are using the wrong name for the driver. I don't know what version of paraccel you are using but my guess is that the above is the correct driver to use.
I suggest you use the [mailing list](http:/

[2015-07-23 16:16] amrit7 commented on #23
I have seen that page - but that is for the Aqua Data Studio product.

In terms of looking at the Aqua Data Studio page - this is showing the DRIVER CLASS:
![driver2](https://cloud.githubusercontent.com/assets/13454662/8855489/4efa90ce-315d-11e5-9d90-7c805532004d.JPG)

The name of the driver is paraccel-jdbc.jar - the same as what you have shown in the Aqua Data Studio page.
![driver3](https://clo

[2015-07-23 16:30] amrit7 commented on #23
it's working now.. .

driver=com.paraccel.Driver

this wasn't clear - thought it should be filename of the driver.

Closed

[2015-07-23 16:33] h3adache commented on #23
JDBC driver is always the class of the driver.
The jar is just the packaging. It's just how java and JDBC work to find the driver.
Watch this [video by @cbegin](https://www.youtube.com/watch?v=c45AevIuYGk).
It shows iBatis but the instructions have not changed

[2015-07-23 18:43] amrit7 commented on #23
Thanks for this

-------- Original message --------
From: Tim Chen <notifications@github.com>
Date: 23/07/2015  17:33  (GMT+00:00)
To: mybatis/migrations <migrations@noreply.github.com>
Cc: amrit7 <amrit7@hotmail.com>
Subject: Re: [migrations] Does MyBatis Migrations work with ParAccel? (#23)

JDBC driver is always the class of the driver.
The jar is just the packaging. It's just how java and JDBC

[2015-08-03 20:01] sengelbert opened #25 "Hive Support"
Is Hive supported?

I have added all the jar files that I thought would be needed but I am still getting an error when trying to run the migrations. I am however able to list what migrations have not been run.

## List of hive jar driver files:
commons-codec-1.5.jar
commons-logging-1.1.1.jar
hadoop-common-2.6.0.jar
hive-common-0.13.0.jar
hive-jdbc-0.13.0.jar
hive-service-0.13.0.jar
httpclient-4.2.

[2015-08-31 15:11] kjhosein opened #26 "`version` subcommand fails to stop at the specified version"
I ran the `version` subcommand today (e.g. `migrate version 20150818150900`) and Migrate did not stop at the specified version (20150818150900). Instead it just kept rolling back older changes. It appears that it would have continued all the way to the start if I had not killed the command.

I have successfully reproduced this behavior.

Version Info:

[code]

[2015-09-01 07:29] harawata commented on #26
Hi,

I couldn't reproduce it.
Here's how I tested.

1. Checkout the migrations repository to local.
1. In Terminal.app, cd to the ```/src/test/java/org/apache/ibatis/migration/example``` directory.
1. Create 'drivers' directory and copy derby.jar (version 10.11.1.1) in that directory.
1. Execute the following migrate commands.

Please post more information to proceed.

[code]
[code]
[code]
[code]

[2015-09-01 16:49] kjhosein commented on #26
I just realized there's probably a significant difference between my starting point and the typical use case. In both of my scenarios, the status looked something like this:

    20150820135402 2015-08-20 11:49:56 Change 1
    20150824215513 2015-08-25 07:47:24 Change 2
    20150828160148 2015-08-28 22:09:00 Change 3  *
    20150828192447    ...pending...    Change 4
    20150828221323 2015-08-28

[2015-09-01 18:11] harawata commented on #26
Thank you for the additional info!

You may observe such status when working with a team as you mentioned.
But it should not cause a problem like yours.

I replicated the status in the example directory [1] and the version command still works as expected.

[code]
[code]
[code]

[1] Here's what I did to replicate the status.
1. moved a migration script out of the scripts directory.
2. ran ```migrat

[2015-09-01 20:09] kjhosein commented on #26
Good to know it was designed to deal with this sort of scenario. I'm wondering if there was something about our migration scripts that may have caused the behavior?

Here's another idea: what if instead of deleting a script, you deleted an entry out of the `CHANGELOG` table? Should it be able to handle that scenario?

I appreciate the assistance, but if you can't reproduce, feel free to close this

[2015-09-08 02:53] harawata commented on #26
That's a possibility, yes.
If you could upload the scripts somewhere and show me the exact steps to reproduce the issue, I will look into it.
Otherwise, you may need to find a way to reproduce the issue with the example setup as shown in my previous comments as you are the only one who has the reproducible environment ;-)

No. Because it shouldn't happen unless you or somebody in your team does it

[2015-11-27 10:45] sheikamp commented on #25
Not sure if you still need this, but I've just created a pull request (https://github.com/mybatis/migrations/pull/34) to add Hive compatibility to the Migrations framework.

[2015-12-01 00:13] sengelbert commented on #25
@sheikamp That is great! I am definitely still interested in using mybatis with Hive. Do you have details of what jar files are needed for Hive and Mybatis from your tests?

[2015-12-01 08:06] sheikamp commented on #25
I feared that the PR would be rejected, because it's breaking downward compatibility. I'll see if there's a way to fix that. Anyway, I've added you as a collaborator to my fork. Here's how I got it running:

1. Install migrations like described in the manual
2. Clone the fork
3. Run maven package
4. Replace the original jar (should be in /usr/local/mybatis/mybatis-migrations-${project.version}/lib

[2015-12-01 15:11] sengelbert commented on #25
Thank you! I will give this a go and let you know if I have any issues (probably on the forked repo).

[2016-01-22 13:27] gpaterno opened #35 "Bootstrap fails with more than one table"
Hi!  I've got a boostrap.sql that holds many table.  `migrate bootstrap` fails while parsing the second table. This is what the error looks like:

[code]

If I do by hand `mysql -u user -p table < scripts/bootstrap.sql ` works fine.

[code]

Any idea??
Thanks.

[2016-01-22 13:53] harawata commented on #35
Please see #8

[2016-01-22 15:48] gpaterno commented on #35
Thanks, that solved.

[2016-01-22 15:48] #35 closed

[2016-01-22 15:54] harawata commented on #35
Good, thanks for the follow-up! :smile:

[2016-02-03 01:58] superbull opened #36 "Runtime error when migrate up for the default create_changelog.sql"
I setup the Mybatis migration by following the documentation. After run `migrate up` there is a `com.mysql.jdbc.exceptions.jdbc4.MySQLSyntaxErrorException`.

I found this stackoverflow topic: http://stackoverflow.com/questions/23000085/mybatis-migrations-migrate-up-causes-org-apache-ibatis-jdbc-runtimesqlexception

The solution is change the default environment setting of `send_full_script` from
[

[2016-02-03 02:11] rponte commented on #36
Sending full script just works for some JDBC drivers. Probably your driver
does not support it.

If I'm not wrong there's a comment in the properties file explaining about
it.
On ter, 2 de fev de 2016 at 22:58 Deng Zhi Cheng <notifications@github.com>
wrote:

--
Rafael Ponte
TriadWorks | Formação Java
http://cursos.triadworks.com.br

[2016-02-03 02:16] superbull commented on #36
Yes, so I think the default setting should works for most JDBC drivers. That is set the default value of `send_full_script` to `false` in the template file.

[2016-03-28 16:44] jcohen opened #38 "Publish latest version to Maven Central?"
The most recent version of mybatis-migrations on Maven Central is from 2014: http://search.maven.org/#search%7Cga%7C1%7Ca%3A%22mybatis-migrations%22 and is not compatible w/ MyBatis 3.3. Would it be possible to publish a more recent version of mybatis-migrations?

[2016-03-31 01:28] hazendaz commented on #38
@jcohen I can push a release but I'm not quite sure that anything was done in regards to support of mybatis 3.3.x.  Looking over commits from now back to 2014, it's mostly build related.  Can you possible pull the latest snapshot of this and see if it's compatible.  If not, if you could kindly update compliance and submit a PR?

Snapshots are located here.

https://oss.sonatype.org/content/reposit

[2016-03-31 16:58] jcohen commented on #38
Yeah, I've been using the snapshots for development, but I'm obviously wary of that for production code. I was also able to use the version from Maven Central by excluding its mybatis dependency in favor of our direct and up to date 3.3.1 dep, so I think it should be safe to just publish as is?

[2016-03-31 19:36] emacarron commented on #38
@jcohen I am Ok with a refresh release but why is it not compatible with MB 3.3.1? I am also not aware of any change to make it work with 3.3.1 and build is passing.

[2016-04-01 09:02] harawata commented on #38
There is nothing wrong with that approach :-)
Note that it does not mean that the current version of migrations is incompatible with core 3.3.1.

And I think you don't need to exclude because maven will use core 3.3.1 if you add it as a direct dependency of your project.
Alternatively, we can make the core dependency as 'provided', but then you will always have to add the core dependency by yourse

[2016-04-04 16:11] jcohen commented on #38
The exclusion just seemed like one extra step to jump through in order to get thinks working. It would be nice if migrations was published in coordination w/ core mybatis, but if that's not desirable from your perspective, I can continue using the exclude to ensure that my direct dependency takes precedence.

[2016-04-07 19:46] jmodi1982 opened #40 "Need a way to configure multiple Database schemas"
Hi,

We have 1 database with multiple schema (~250) and we would be tracking and deploying changes to all the 250 schema. Since the 250 schema have different credentials, how do we setup environment properties to enable mybatis migrations to work.

[2016-04-08 18:00] jmodi1982 commented on #40
We found a way to create to multiple schemas using proxy user. Setup a proxy user and use it in the environments file

[2016-04-08 18:00] #40 closed

[2016-04-08 18:03] harawata commented on #40
Cool! Thank you for sharing! :smile:

[2016-04-09 16:24] hazendaz commented on #4
@jollyblade Is this something you could still put together?  There has been a ask to release updated version of migrations but there are no real changes in a number of years so I'm trying to see if we can get some issues addressed so the release actually is worthwhile :)

[2016-04-09 16:26] hazendaz commented on #10
Based on comments here, it would appear there is a work around or otherwise it's already supported so I'm going to close the ticket.

[2016-04-09 16:26] #10 closed

[2016-04-09 16:28] hazendaz commented on #38
@jcohen You don't need the exclusion.  Maven will resolve the correct mybatis as long as you provide it in your POM.  I will however push a release after trying to clear out some issues and possibly get new functionality into migrations.  My main concern was the early comments that we magically did something that didn't exist in the wild which was not the case.  I'm perfectly fine with a release t

[2016-04-09 16:29] hazendaz commented on #36
@superbull I believe this was a usage issue per notes above.  I don't think there is anything to do here.  Can you confirm so I can close this out?  If something is needed, please let me know.

[2016-04-09 16:32] hazendaz commented on #26
@kjhosein Is anything needed on this issue or can this be closed?

[2016-04-09 16:35] hazendaz commented on #25
@sheikamp @sengelbert Where did this end up?  Does the fork work?  Is there any possibility of bringing that in without breaking the current implementation?  Should we just close out this issue possibly with just a link on the readme for hive support on the fork?

[2016-04-09 16:35] hazendaz commented on #20
@Pacane Did you get around this issue?  Can this be closed?

[2016-04-11 13:01] harawata commented on #4
Fixed as #29.

[2016-04-11 13:01] #4 closed

[2016-04-11 14:05] harawata commented on #36
@superbull
I am not sure which is appropriate as the default, but changing the default could break existing solutions.

[2016-04-11 14:05] #36 closed

[2016-04-11 18:03] harawata commented on #25
Hi guys!

Any action in Hive side?
Looking at the source code for Hive JDBC driver, the implementation seems to be very primitive.
Why don't you try building [my fork](https://github.com/harawata/hive) and see if it works?

[code]

I only modified [one line](https://github.com/harawata/hive/commit/1910632442ad9b70b41b28e37596843d1b9f7d3f), but if it works and if you ask them nicely with a link to

[2016-04-11 21:48] jcohen commented on #38
I'm using Gradle, so perhaps it behaves differently (though I [ended up using](https://github.com/apache/aurora/commit/5ecded788251bcaece0d972c963364f700aa9f3b#diff-c197962302397baf3a4cc36463dce5ea) Gradle's conflict resolution to force my desired MyBatis version rather than explicit exclude).

In any event, thanks for the diligent responses and appreciate the publish, even if there's no functiona

[2016-04-12 13:31] #14 closed

[2016-04-12 13:38] harawata commented on #14
As it is not a per-environment setting, I have fixed this by adding a new option ```idpattern```.

You can specify the format 1) in command line

[code]

or 2) in the migration.properties file

[code]

Some examples:
- idpattern=0 -> 1_changelog.sql
- idpattern=000 -> 001_changelog.sql

Note that it increments the number of the newest existing script.

[2016-04-16 23:17] hazendaz commented on #38
@jcohen Can you pull the latest snapshot and give it a try before we release this?  @harawata gave an assist along with various users rebasing to get some real fixes into the library.  That said, now we do have a valid reason to release and I wante to make sure this is still working as expected by someone using it (I don't use it!).

[2016-04-19 15:11] syryin opened #43 "Display Result Set"
Hi,
For the command "up" and "pending" in command line, executed SQL message/result is not displayed. It says only "MyBatis Migrations SUCCESS"

[2016-04-26 11:19] sheikamp commented on #25
Hi, sorry for the late reply. The fork is working fine, but I still don't see how to merge it without breaking anything. It really might be best to fix the Hive driver instead of working around that.

[2016-04-26 14:25] harawata commented on #25
That's exactly what I suggested ;-)
I just filed a new ticket on their JIRA: https://issues.apache.org/jira/browse/HIVE-13614
Hope it gets accepted! (voting might help)

[2016-04-26 14:41] emacarron commented on #25
I have just voted on the issue.

[2016-04-26 14:43] harawata commented on #25
Cool! Thanks Eduardo! =D

[2016-04-26 16:57] h3adache commented on #25
lol their jira is throwing an error when voting.

On Tue, Apr 26, 2016 at 9:43 AM, Iwao AVE! <notifications@github.com> wrote:

[2016-04-26 17:13] harawata commented on #25
I see your vote now, thanks, Tim!

[2016-04-27 07:15] sheikamp commented on #25
:+1:

[2016-05-04 05:54] jmodi1982 commented on #43
Yes, even i have faced this issues. we would also like to see message "10 rows inserted", "1 table dropped" similar to what we get in Toad or SQL Developer studio.

How can we enable something like this basically the error messages from SQL

[2016-05-04 16:46] h3adache commented on #43
Is this using migrations install or maven/grade plugin?

[2016-05-05 17:31] jmodi1982 commented on #43
i am running simple migration up command from cmd line and not able to see result of the SQL executed as confirmation like "10 rows inserted", "1 table dropped" , instead I see following message -
-- MyBatis Migrations SUCCESS
-- Total time: 1s
-- Finished at: Thu May 05 12:09:16 CDT 2016
-- Final Memory: 47M/479M

Is there a way we can show the results coming back after SQL execution ?

[2016-05-06 05:40] jmodi1982 opened #46 "MyBatis migration not compiling procedures"
hi,

we are using MyBatis for applying DB changes and in 1 of the script there was a procedure which we were creating. MyBatis removed the comments while performing migraitons and that lead to procedure not compiling successfully. However Mybatis migraiton did not fail the execution but it provided Success status.

When we went to Database to check the procedure, it was broken.

Please can you con

[2016-05-06 15:25] harawata commented on #43
Here is my output.
I am on MySQL

[2016-05-06 15:30] harawata commented on #46
Please provide sample scripts to reproduce the problem.

[2016-05-06 16:40] h3adache commented on #43
I have the same output as @harawata on both mysql and sql server. Can you please show us your output and a sample project?

[2016-05-06 19:15] jmodi1982 commented on #46
All the comments from the below script gets removed, I don't want the comments inside stored procedure to be removed. Please find below a sample script -

--*****************************************************************************
--Request                       : 1548
--Date                          : 26/04/2016
--Onsite Anchor                 : John March
--**********************************

[2016-05-07 17:01] harawata commented on #46
I couldn't create that procedure even in PL/SQL.
The below script worked on Oracle 11g (ojdbc7 driver version 12.1.0.2).

[code]

Some comments:

- Even when the procedure has compile error, Oracle driver creates the procedure and throws no exception. So, to Migrations, it's still SUCCESS.
In the above script, I added a SELECT statement to check the error. It might be better than nothing.
- To lea

[2016-05-09 20:57] jmodi1982 commented on #46
Thanks for the info, we also changed source code to use ## instead of -- as script comments as SQL. Everything looks good for now, will keep you posted if i come across any new issues

[2016-05-10 01:56] harawata commented on #46
Good to know that ```##``` works, too.
Thanks for the update!

[2016-05-11 03:19] jmodi1982 commented on #46
Hi,

I see a big issue and I need some immediate  remediation  based on your  experience.

Even when the procedure has compile error, Oracle driver creates the procedure and throws no exception. So, to Migrations, it's still SUCCESS. Due to this the changelog table is updated and I cannot run the script again. So I have to create another script with correct procedure code and then again rerun it.

[2016-05-11 03:39] harawata commented on #46
Hi,

After the incorrectly succeeded 'up' command, you just need to execute the 'down' command.
Of course, you need to write ```DROP PROCEDURE``` in the 'UNDO' part (see my sample script above).
The 'down' command will remove the row from the changelog table as well.

I had expected that Oracle has some kind of configuration option for this behavior, but couldn't find it.
There seems to be some [t

[2016-05-11 04:50] jmodi1982 commented on #46
Hi,

Please do let us know if you find any oracle configuration  which can solve this issue. At least we should get the compilation error and the script should be exited since we usually run a large no of scripts and a non-compiled procedure  could cause serious dB  inconsistencycle

Also DBAY don't like the idea of going to sql+ to see if the stored procedure has thrown any compilation  errors. T

[2016-05-11 12:37] harawata commented on #46
I totally understand what you and your team want. Strange implementation indeed :confused:

Anyway, I think I have found a solution to this problem.
I will open a new issue and let you know.

[2016-05-11 12:40] harawata commented on #46
Well, I should just reopen this one.

[2016-05-11 13:47] #46 closed

[2016-05-11 13:51] harawata commented on #46
OK, I have fixed it.
```migrate up``` command should now fail if the procedure has a compile error.

To try it, just clone this repository and execute ```mvn clean package```.
The .zip bundle will be generated in the target directory.
Please let me know if it works.

Thank you!
Iwao

[2016-05-11 15:43] jmodi1982 commented on #46
Will it print the compilation error as well ?

[2016-05-11 16:00] harawata commented on #46
I don't think so. The only message I see in the warning is that the statement execution completed with an error.

[2016-05-11 19:25] jmodi1982 commented on #46
Is there any configuration or code by which we can enable the error message as well?

[2016-05-12 05:30] jmodi1982 commented on #46
Hi,

Is it possible to provide the error message from show errors table ?

Thanks,
Jeemish

[2016-05-12 14:44] harawata commented on #46
How about this?

You create a special script file 'onabort.sql' in the scripts directory.
The content would look as follows.

[code]

Whenever ```migration up``` is aborted by SQLException, Migrations executes this script (only if it exists, of course).

For example, here is the result of ```migrate up``` if I removed the semicolon at the end of the INSERT statement of the above script.

[code]

D

[2016-05-12 16:14] jmodi1982 commented on #46
Yes, this would meet our requirements, however we would have the SQL command to show errors for Procedure, Functions, Packages, Triggers as well. That should work isn't it ?

Is this change already implemented in the source code ?

Thanks,
Jeemish

[2016-05-12 16:19] jmodi1982 commented on #46
Just wanted to confirm MyBatis command will fail and throw a similar warning if there is a compilation error in Functions, Packages, Triggers as well.

[2016-05-12 17:37] harawata commented on #46
I would expect so. You should be able to verify this behavior with the current snapshot if you want to be 100% sure.

I need to clean up the code a little bit before pushing the change.

[2016-05-14 12:31] harawata commented on #46
@jmodi1982 The onabort.sql script should work with the latest 3.3.0-SNAPSHOT.

[2016-06-03 19:37] RickFlist opened #48 "MySQLSyntaxErrorException On First Migration"
Hello!

I'm evaluating your tool for use with our company. I'm running into an issue just running MIGRATE INIT followed immediately by MIGRATE UP. I've experienced the same error with 3.2.0, 3.2.1, and 3.3.0. I'm executing against a MySQL v5.7.12 running on a fully patched Windows 2012 R2 x64 server. the JDBC driver is mysql-connector-java-5.1.39-bin.jar.

I have copied the SQL out of the error an

[2016-06-05 14:19] harawata commented on #48
With MySQL, send_full_script must be set to false in the environment properties.

[2016-06-05 14:19] #48 closed

[2016-06-06 20:43] RickFlist opened #49 "Errors During Bootstrap Process"
So I'm posting this here, I didn't see a forum or anything on StackOverflow for this...

I'm attempting to execute the bootstrap step. I've exported the schema from our production database using both Workbench and MySQLdump. I'm getting similar errors on both of them when executing MIGRATIS BOOTSTRAP:

**Error 1**
[code]

**Error 2**
[code]

These errors persist regardless of the combination i use

[2016-06-06 22:44] h3adache commented on #49
Hi plz use mailing list for issues like this.
Post up your bootstrap.sql and your environment properties.

[2016-06-07 03:48] harawata commented on #49
Hi @RickFlist ,

As a script generated by mysqldump may contain extended syntaxes for native clients, you may have to resolve each error manually.

1. To change the delimiter, you need to use the ```-- @DELIMITER``` syntax.

[code]
2. The warning is caused by the special comment in the dump file. Remove each problematic line or try adding [```--compact```](http://dev.mysql.com/doc/refman/5.7/en/my

[2016-06-07 03:48] #49 closed

[2016-06-08 18:08] RickFlist commented on #49
Thanks guys. I've posted to that group twice and my posts seem to disappear....

[2016-06-11 12:31] harawata commented on #38
Released 3.2.1 😺

[2016-06-11 12:31] #38 closed

[2016-06-16 18:41] harawata opened #52 "Provide pre/post-migration hooks"
Here is the specification. Comments are welcome.

---

# Migration hook

## Overview

You can write scripts that are executed before or after up/down operation.
The following hooks are supported.

- before up/down : executed before the first migration
- before each up/down : executed before each migration
- after each up/down : executed after each migration
- after up/down : executed after the las

[2016-06-20 15:30] h3adache commented on #52
This is a good writeup @harawata . Feels like unit testing before[Class]/after[Class] but also allows better migration control (hooks lol) for people. The before each/after might be better suited if it were tied to specific migrations? // @BEFORE // @AFTER (similar to the current // @UNDO) perhaps? Just a thought though.

[2016-06-20 17:00] harawata commented on #52
Thank you very much for the review, @h3adache !

In an each hook, it is possible to check the ID or the description of the migration via the ```change``` global variable (only in JSR-223 scripts).
I think it's flexible enough...at least for the first implementation.

The work is mostly done and I'll be able to commit the changes soon.
Hope it meets some company/project specific requirements!

[2016-06-21 00:01] harawata commented on #52
I will make some changes later (will update the spec too).

[2016-06-21 12:55] harawata commented on #52
Done.

[2016-06-21 12:55] #52 closed

[2016-07-22 08:08] harawata commented on #25
The patch was accepted for Hive 2.2.0 😊

[2016-07-22 08:08] #25 closed

[2016-10-14 16:27] avs777 opened #57 "version NullPointerException when changelog table is empty"
When executing `migrate version` command, NullPointerException is thrown if changlog table is empty. If I add any record to the table everything starts working fine.

mybatis-migrations-3.2.1
mysql-connector-java-5.1.39-bin.jar

[code]

[2016-10-25 12:26] svscorp commented on #46
@harawata latest snapshot doesn't start (compiled, but errors out on run).

"could not find or load main class org.apache.ibatis.migration.Migrator".

Same issue (as the topic) exists with creating triggers - trying to get a working version of 3.3.0-snapshot (do you have one for download?).

[2016-10-25 12:56] svscorp opened #58 "Could not find or load main class org.apache.ibatis.migration.Migrator"
Hi @harawata @kazuki43zoo @hazendaz,

I am trying to use the tool (MyBatis Migrations) 3.2.1 to automate DB changes for my Oracle instance. Almost done that (99% of the DB initiation) and Friday ran into the issue that is (what I think) is described here: #46

[code]

Then I went to #46 and there it was mentioned to use `-- @DELIMITER`. It is available in 3.3.0 but I haven't found any downloadable

[2016-10-25 13:03] svscorp commented on #58
I can't use "send_full_script=true" because it doesn't work.
I can't use another "delimiter=GO" because than I'll have to replace it in 10k lines of SQL code + people who works with me will have to keep it in mind always when adding new migrations -> human errors chance is big.

[2016-10-25 15:36] harawata commented on #58
I am not sure if I understand your problem, but the error message implies that the mybatis-migrations.jar is not found in the classpath.

Here is how to use mybatis-migration 3.3.0-SNAPSHOT.

1. Download and extract the latest bundle.zip from the [snapshot repository](https://oss.sonatype.org/content/repositories/snapshots/org/mybatis/mybatis-migrations/3.3.0-SNAPSHOT/).
2. Follow the [installatio

[2016-10-25 15:42] svscorp commented on #58
Hi @harawata,

Thanks for your quick reply. Well, what I have done:
1) built latest master
2) unzipped the bundle.zip into My work folder
3) followed installation instructions you mentioned
4) tried to run "migrate info"

Same way works with 3.2.1.

[2016-10-25 15:50] harawata commented on #58
Have you tried the bundle.zip downloaded from the snapshot repository instead of the one that you built?
I just downloaded and verified the contents of the mybatis-migrations-3.3.0-20161010.132840-10-bundle.zip and it's working correctly.

[2016-10-25 15:56] svscorp commented on #58
Hi @harawata

I just done it:

here is the screenshot: https://s22.postimg.org/kyjzld9wh/mybatis_cli_envvars.png

[2016-10-25 16:30] harawata commented on #58
If you are on Windows, it could be an issue with the migrate.cmd file.
Could you check the content and see if anything is wrong?

[2016-10-25 17:04] harawata commented on #58
You are using MinGW, so migrate.cmd is not related, I guess.

What happens if you are cd-ing to the `lib` directory and execute the java command directly?

[code]

[2016-10-25 22:08] svscorp commented on #58
That's what I found:

![migrate](https://cloud.githubusercontent.com/assets/475464/19706043/1b632a32-9b10-11e6-8a1e-cc5c75f6074b.PNG)

In version 3.2 bin/migrate contains `ENDORSED_DIR=` while 3.3. `ENDORSED_DIR=`.

[2016-10-25 22:23] svscorp commented on #58
I can remove `<endorsedDir>lib</endorsedDir>` from pom.xml, it is done in commit 1f135281e23eb5aba4a91c0f9eaa7219dde832b2

Though, I am not sure why is it `lib` (shouldn't it be `lib/endorsed`?)

[2016-10-27 00:43] tohagan commented on #20
You might want to have a look at alternative tools that can support database neutral migrations.

One I know of FluentMigrator  (you write C# migrations and it generates SQL for the target database).
Supported database are: https://github.com/schambers/fluentmigrator/wiki/Supported-Databases .
There might be a similar Java tool.

You may still need to SQL platform specific code for Stored procs, F

[2016-10-27 03:08] tohagan opened #59 "Feature: Execute a directory tree of "code migration" scripts for each hook."
Database migrations can be split into two types ...

1.  **Schema** Changes: Table, Index, Foreign Keys, Constraints
2.  **Code** Changes: Stored Procedures, Functions, Triggers, Views

- Schema migrations should be executed **once** and then never changed (they are idempotent). They are well supported by Batis. Thanks!

- Code migrations should _be able to be_ ALL re-executed after ALL up migrati

[2016-10-27 03:09] tohagan opened #60 "Pre/Post condition hooks"
We provide scripts that execute SQL queries that act as Pre/Post conditions on the data.  Each script contains a query. If the query returns any data then the Pre or Post condition has failed. The query output should identify the cause.

These query scripts are not migrations but very useful in the data migration process. You want another directory / hook for each of these.

They can simplify comp

[2016-10-27 14:51] harawata commented on #58
The endorsedDir is added to load 3rd party JSR-223 libraries.
See the last section of the [doc](http://www.mybatis.org/migrations/hooks.html).

As the script (bin/migrate) is generated by [appassembler-maven-plugin](https://github.com/mojohaus/appassembler), if adding endorsedDir breaks the launcher script, it may be the plugin's bug.
Reading the script, there are some classpath fix for cygwin, so

[2016-11-08 05:24] tohagan opened #61 "Feature: Allow/Disallow empty UNDO clause for DOWN"
When a migration should not be undone, I typically just remove the `-- //@UNDO` line so that `migrate down` will fail for this migration. This is what you want when using the migration in production .

However, for development you'd prefer to just ignore the empty undo and execute nothing on the assumption that you'll soon perform a `migrate up`.

To configure this behaviour for production and dev

[2016-11-17 17:25] harawata commented on #61
Hi @tohagan ,

Which DB are you using?
With a migration script with no `-- //@UNDO` line, `migrate down` seems to succeed on MySQL.

[code]

Besides, the feature you describe is basically what `--force` option does.
For example, if an UNDO part contains some statement that is known to fail, `migrate down` will fail whereas `migrate down --force` will succeed.

[2016-11-17 21:17] tohagan commented on #61
Thanks. I didn't spot the --force option.

[2016-11-21 16:27] harawata commented on #59
Hi,

Thank you for sharing your method!

Here is a JavaScript (Nashorn) example.
It assumes simpler directory structure, but you get the idea.

[code]

[code]

[code]

As a side note, I had the impression that it might be better to create a standalone Java app so that you can perform the task at any time (independently of migration).
It should also be possible to invoke the app code from within a

[2016-11-23 13:38] harawata commented on #61
You're welcome :)

[2016-11-23 13:38] #61 closed

[2016-11-26 17:56] harawata commented on #60
I am not sure if I understand the use case correctly, but it sounds like another use case of migration hooks.
In a hook script, you can get the ID and the description of a migration, so it is possible to perform tasks specific to a particular migration.

[code]

It is also possible to abort migration process by throwing an exception from within a hook (it does not rollback changes already applied,

[2017-01-23 16:55] h3adache commented on #57
@avs777 I'm sorry I'm confused how you got into the state where the changelog table was empty.
If you ran "down" steps until it was empty then it should have deleted the Changelog table in which cause version command would have told you there was no changelog?

Something like:

`Caused by: org.hsqldb.HsqlException: user lacks privilege or object not found: CHANGELOG`

[2017-01-23 16:57] h3adache commented on #26
Closing due to lack of response. If this is still a problem just let us know.

[2017-01-23 16:57] #26 closed

[2017-01-23 17:12] h3adache commented on #20
Sorry for the slow response. You can do this by combining the scriptpath and env variables as an alternative. It sounds like you already have environments setup for both db vendors, you can setup script paths separately for them as well.
This feature was added a while back but isn't documented in the help/online docs I'm afraid. I'll add a ticket for that

[2017-01-23 17:12] #20 closed

[2017-01-23 17:13] h3adache opened #64 "Update documentation"
Features such as HOOKPATH/SCRIPTPATH/DRIVERPATH etc should be documented in --help and the online docs

[2017-01-23 17:14] h3adache commented on #20
#64 was created

[2017-01-23 17:15] h3adache commented on #60
http://www.mybatis.org/migrations/hooks.html

[2017-01-23 17:15] #60 closed

[2017-01-27 20:17] istensky opened #65 "Down command does not work with case sensitive column names."
whe nthe changelog table created it is created with upper case column names, but when the down command runs it queries with lover case "id=" can it be consistent?

[2017-01-27 20:31] h3adache commented on #65
Yea it can be @istensky. In the meantime you can also change the script (default is `0001_Changelog.sql`) to create using lower case column names.

[2017-02-28 04:17] jingyou opened #66 "bootstrap not working with more than one table"
if more than one table is defined in bootstrap.sql file, the bootstrap command will throw SQLSyntaxErrorException.

Here's an example:

-- begin of the bootstrap.sql file
CREATE TABLE card_type (
    ID BIGINT(20)
);

CREATE TABLE card (
    ID BIGINT(20)
);

-- end of the bootstrap.sql file

[2017-02-28 06:16] harawata commented on #66
Assuming you are using MySQL, send_full_script must be set to false in the environment properties.

[2017-03-30 13:42] evandroamparo opened #68 "$MIGRATION_HOME or $MIGRATIONS_HOME?"
The installation instructions tell the environment variable for the installation folder is MIGRATION**S**_HOME but ```migrate init``` looks for $MIGRATION_HOME/migration.properties.

When I tried to use a custom prefix I realized that I had to create a new environment variable. Is there a reason for that? Could it be unified into a single variable?

[2017-03-30 18:49] harawata commented on #68
The correct variable name is `MIGRATIONS_HOME`.
I searched the text `MIGRATION_HOME` in the project and it only exists in a few doc files and is never used in the actual code.
I'll fix the doc files later.

Thanks for the report!

[2017-03-30 19:02] evandroamparo commented on #68
I imagined it was an error in the docs and did it by just saving the file in $MIGRATIONS_HOME.

[2017-03-31 13:02] evandroamparo opened #69 "Variable substitution does not work in custom templates"
I'm trying to configure my own template for new migrations but I don't see how to include a placeholder for the description.
In the file https://github.com/mybatis/migrations/blob/b4e2f982b6e504a13a788fc0d8cbc8e02805901b/src/main/java/org/apache/ibatis/migration/template_migration.sql#L17 there is a ```${description}``` parameter but it doesn't work for custom templates.

[2017-04-02 12:39] #68 closed

[2017-04-04 15:04] #69 closed

[2017-04-04 15:05] harawata commented on #69
Hi @evandroamparo ,

Thanks for the report!
It should be fixed in the latest 3.3.0-SNAPSHOT.

[2017-04-04 16:29] evandroamparo commented on #69
Thank you.

[2017-04-05 13:46] #65 closed

[2017-04-11 22:51] tohagan commented on #59
Thanks so much for this code sample. A long overdue thanks!
I'm sorry I failed to do a write up for you to explain scripting dependencies.
Will try to get a moment on this in my "spare time" soon.

[2017-04-25 13:32] harawata commented on #66
Assuming `send_full_script=true` resolved the problem.

[2017-04-25 13:32] #66 closed

[2017-04-28 14:00] sjanssens1977 opened #71 "Feature request: expand the usage of hooks (JSR-223 and SQL) to all migration commands"
In my search for a solution to manage test data using MyBatis Migrations I stumbled upon the hooks feature.

I managed to implement a solution by which I use the [before|after]_each_[up|down] hooks to temporary replace a script which contains test data insert statements with an script containing no sql statements.
This implementation works great if you use the up and down commands to manage each e

[2017-05-01 05:13] orlanthi opened #72 "ERROR: Error copying org/apache/ibatis/migration/template_README on Mac"
Steps:
1. mkdir db
2. mybatis-migrations-3.3.0/bin/migrate --path="$(pwd)/db" init

Result:
ERROR: Error copying org/apache/ibatis/migration/template_README to /some/path/db/README.  Cause: java.io.FileNotFoundException: file:/some/path/mybatis-migrations-3.3.0/lib/mybatis-migrations-3.3.0.jar!/org/apache/ibatis/migration/template_README (No such file or directory)

[2017-05-01 09:32] #72 closed

[2017-05-01 15:16] harawata commented on #72
Thanks for the report, @orlanthi .
As this is a blocker issue, I'll release 3.3.1 as soon as possible.

[2017-05-14 16:56] Bessonov opened #74 "Spring Boot Autoconfiguration and CLI for MyBatis Migrations"
Hi,

thank you for your work. For my spring application I created an [autoconfigration with cli support](https://github.com/Bessonov/mybatis-migrations-spring-boot-autoconfigure/tree/development). I have a lot of questions now.

1. Before I push it to maven central I would like to ask you what do you think about move it to mybatis github organisation?

2. Is there a plan for high level API for com

[2017-05-15 18:27] h3adache commented on #74
Hi @Bessonov . This is nice work! I'll try to answer some of your questions but am not exactly sure what you are asking in some cases:

1. The idea of having each action be an operation was what I did by breaking out the commands which is what I used in previous apps to do runtime migrations. @harawata carried that idea out further to add operations in #2 . There was plans to clean some of this up

[2017-05-18 06:53] Bessonov commented on #74
@h3adache thank you for your quick response!

Yeah, I know, my English isn't perfect :(

1. Here I ask if you see it in `de.bessonov` group and it stay in my repo or in `org.mybatis` group and your repo.

Basically, what I have done, is usage of Spring Boot capabilities to run in-app migrations and possibility to use produced jar as cli for migrations.

I don't think it is useful in core, because

[2017-05-19 08:21] srdjan-mijatov opened #75 "Feature request: preventing "migrate down" command"
"migrate down" is useful in development, but it can be catastrophic in production. It would be nice to prevent "down" part of the migration scripts on production servers (by using some bool property).

[2017-05-19 18:00] harawata commented on #75
There is a simple-enough solution using a hook.

Create a hook script 'fail.js' in `$MIGRATIONS_HOME/hooks` directory with some invalid content. For example...

[code]

And specify the script as a before-down hook in your production.properties.

[code]

Now, `migrate down` against production never succeeds.

[code]

Please see the [doc](http://www.mybatis.org/migrations/hooks.html) for the details

[2017-05-19 20:14] h3adache commented on #74
I actually thought about using jcommander when I was refactoring the options parsing but stayed away from it at the time because it was pretty new at the time and more importantly, I was trying to stay with the theme that we don't introduce too many external dependencies. If you look we currently only depend on mybatis (and of course any of it's transient dependencies).
That decision now seems a b

[2017-05-20 07:49] harawata commented on #74
Interesting idea.
I didn't think of a use case that someone performs various commands other than 'up' once the product is released as a JAR file (the JAR may not run correctly with an older version of the DB schema, right?).
May I ask who uses the migration commands in your scenario?

[2017-05-20 11:14] Bessonov opened #76 "Pending migrations doesn't picked up by up command"
Here is a little example of unexpected behavior. I use maven plugin for this, but I run into with my cli too.

[code]

[2017-05-20 14:11] Bessonov commented on #74
@h3adache reduce external dependencies is right way to go. I can imagine to split mybatis migrations core (executor) from mybatis migrations cli (runs executor). So you can have both: reduced dependencies and reduced code for cli. And I can use both in my autoconfiguration.

@harawata of course you can :) I support a little start-up and we switch now from liquibase to mybatis migrations. There som

[2017-05-23 19:20] h3adache commented on #76
Hi @Bessonov this isn't a bug. It's documented [here](http://www.mybatis.org/migrations/pending.html)
The reasoning is documented there as well and exactly describes what your example does.

[2017-05-23 19:20] #76 closed

[2017-06-06 14:16] harawata commented on #71
Hi @sjanssens1977 ,

I'm sorry for a late reply!

`version` and `pending` are special cases of `up`/`down`, so it makes sense to apply hooks when executing these commands.
I will look into it.

Regarding `script` command, though, applying hook seems inappropriate.
Executing SQL hook on every execution of `script` command may not be what users expect, for example.

In your case, the recommended sol

[2017-06-27 18:17] harawata commented on #71
Hooks are now applied to 'version' and 'pending' (#71).

[2017-06-27 18:17] #71 closed

[2017-09-02 00:04] syvineckruyk commented on #25
sorry to resurrect an old thread ... with the driver issue corrected ... is it expected that migrations should work ? Or does it also require some of the changes from the closed/rejected pull request referenced above ?

[2017-09-04 02:57] harawata commented on #25
@syvineckruyk
The issue reported here was fixed in Hive ≥2.2.0 and I assumed that there were users who are using Migrations with Hive.
If you use Hive ≥2.2.0 and have some problem, please create a new issue with the details.

[2017-10-04 15:05] svscorp opened #83 "ClassNotFoundException: Cannot find class "oracle.jdbc.OracleDriver"/"oracle.jdbc.driver.OracleDriver""
I am using mybatis-migrations 3.1.1 (3.3.1 same behavior) and have followed installation instructions. I am using Oracle DB and trying to use ojdbc7 (or 8) driver to connect to my database. I have JDK8 installed

[code]

ls -la:
[code]

more info on ENV VARS
[code]

development.properties
[code]

In the drivers I have ojdbc8.jar (tried with ojdbc7.jar - same result).

Error message (--trace):
[cod

[2017-10-04 15:18] harawata commented on #83
The driver class should be `oracle.jdbc.driver.OracleDriver`.

[2017-10-04 17:32] svscorp commented on #83
I wouldn't close the thread, because I tried both: oracle.jdbc.driver.OracleDriver and oracle.jdbc.OracleDriver

"oracle.jdbc.driver.OracleDriver" - the old format

[2017-10-04 17:34] svscorp commented on #83
@h3adache please, reopen the issue. it is not solved.

[2017-10-04 18:23] harawata commented on #83
OK, I'll reopen.

That error occurs when the program cannot find/read the driver JAR or the class is not in the JAR file.
A few things you can try:

1. Check the content of the JAR archive and make sure the `OracleDriver` class is actually included.
1. Test with another database like HSQLDB and see if it fails with the same exception.

[2017-10-04 20:04] h3adache commented on #83
Is your driver in the driver folder?
What do you see when you execute
`jar -tvf ./driver/ojdbc8.jar`

[2017-10-05 11:12] svscorp commented on #83
Hi @h3adache

[code]

[2017-10-07 02:51] harawata commented on #83
Please try the latest version 3.3.1.
If it still does not work, try it with HSQLDB and let us know the result.

[2017-10-07 04:05] svscorp commented on #83
Hi @harawata, honestly it is initially the case (corrected in description). I'll try with another DB and tell the result.

[2017-10-10 13:53] jpenalver10 opened #84 "Migrate fail when postgreSQL issue a Notice"
Hello,

i'm currently upgrading Mybatis Migrations from 3.2.0 to last release 3.3.1 in order tu use Hooks, in combination with Java 1.8.0_73 and PostgreSQL 9.5.

I've some scripts that, in order to re-execute without problems, have some initialization SQL code like:

  `DROP TABLE IF EXISTS FOO`

According to PostgreSQL documentation (https://www.postgresql.org/docs/9.5/static/sql-droptable.html)

[2017-10-10 14:25] harawata commented on #84
Hi @jpenalver10 ,

Since 3.3.0, Migrations stops on warnings as you noticed.
The change was made because Oracle throws a warning on procedure compilation error (see #46).

You should be able to prevent PostgreSQL from raising the warning by setting `client_min_messages` to 'error' (the default is 'notice') before executing the statement with `IF EXISTS`.
I haven't tested it myself, so please let m

[2017-10-10 14:48] jpenalver10 commented on #84
Aha ok,

yes i've tested before write the question, its work, but I do not think it's a good idea to mix my database model scripts with this implementation detail.

An option would have been only stops with this oracle warnings for not to lose backward compatibility.

In our CI environment, the scripts are made by developers, that only knows application logic (create tables, etc...), not knows inf

[2017-10-10 15:10] harawata commented on #84
I guess we may need a new environment option to ignore warnings.
As it's safer for Oracle users, the default behavior is to stop migration on warnings and you may have to modify the .properties file.
Does it sound reasonable?

[2017-10-10 15:18] jpenalver10 commented on #84
yes!!! I think it's a good solution!

We wait impatiently the new release!

Thank you so much!!!

[2017-10-11 09:37] jpenalver10 commented on #84
Hi @harawata !

When you estimate that can add this feature to a new release?

the intenttion of this question is only for planning my tasks.

Thanks!

[2017-10-11 18:13] #84 closed

[2017-10-11 18:32] chb0github opened #86 "mybatis up doesn't work out-of-the-box"
Using mysql:5.6 on docker
`docker run -d --name mybatis -p 3306:3306  -e MYSQL_ROOT_PASSWORD=my-secret-pw  mysql:5.6 `

I follow the directions
`migrate --idpattern=00000 init`

Which produces:
`./drivers`
`./environments`
`./scripts`
`./scripts/bootstrap.sql`
`./scripts/00001_create_changelog.sql`

So far, so good.

next:
* put mysql driver in the drivers directory:

 `mysql-connector-java-5.1.40

[2017-10-11 18:39] harawata commented on #84
Hi @jpenalver10 ,

A new option `ignoreWarnings` is added. It would be great if you could verify the fix with the latest [3.3.2-SNAPSHOT](https://oss.sonatype.org/content/repositories/snapshots/org/mybatis/mybatis-migrations/3.3.2-SNAPSHOT/) before the final version is out.

Regarding the release date, I think we can release 3.3.2 within a few weeks (but no promises).

Thank you for the valuable f

[2017-10-11 20:01] harawata commented on #86
Yes. For MySQL, `send_full_script` must be set to `true`.
As this is [has been reported several times](https://github.com/mybatis/migrations/search?utf8=%E2%9C%93&q=mysql+send_full_script&type=Issues), I'll add a note on the documentation.

[2017-10-11 20:10] chb0github commented on #86
`send_full_script=false` is the answer. This really should be the default so the out-of-the-box init works

[2017-10-11 20:10] #86 closed

[2017-10-11 20:10] chb0github commented on #86
I discovered this on my own - it really should be the default setup so the "hello world" example just works

[2017-10-11 20:26] harawata commented on #86
Unfortunately, it is database dependent.
The default value was [changed](https://github.com/mybatis/migrations/commit/dade787ee6294f9af959f73376caa5d1f0f9a02b) from `false` to `true` because `false` caused problems with many occasions.
MySQL might be the only database that requires this option to be `false`.

[2017-10-11 21:05] chb0github commented on #86
I see. That is a problem. If you can detect the problem and output it in code??

Oh, better: When you generate the changelog file you can put it in the comments section.

Yeah.. I guess documentation is really the only way around this

[2017-10-11 21:21] chb0github opened #87 "Better auditing"
I have been evaluating several db migration tools and mybatis has been the most promising (+1)

However, one thing that I would love to see is better auditing in the change log.

Specifically:

1. db user executing the script
2. Local user connected
3. Client connection string
4. Source version tag (which could subsitute as the DB version... maybe?)

This is kinda the schema I had in mind:

[code]

[2017-10-11 22:24] chb0github opened #88 "Stored procs"
I am trying to evaluate MyBatis for migrations and it (along with all other Java based tools) fail on the below syntax because of the delimiter swap.

MyBatis at least has a call-out for this in the properties:

    # A NOTE ON STORED PROCEDURES AND DELIMITERS
    #
    # Stored procedures and functions commonly have nested delimiters
    # that conflict with the schema migration parsing.  If you

[2017-10-11 23:54] chb0github opened #89 "SQL Warning becomes exception becomes error and exit?"
[code]
[code]

The whole point of a `DROP TABLE IF EXISTS` is specifically to make creating a table safe.

I see the flag for `--force` but that forces all errors to continue. Frankly, this shouldn't even be a warning. The code very explicitly says it was an expected situation. How can I say "Ignore warnings" or "Don't treat warnings as errors"

[2017-10-12 00:54] h3adache commented on #89
Hi @chb0github this was just addressed by @harawata in #84
Can you try that snapshot and see if that fixes it?
On a separate note, DROP TABLE IF EXISTS is a great feature but for migrations it's a strange syntax since you are already controlling what your schema looks like, so there shouldn't be a case where you need to 'guess' if a table exists.

[2017-10-12 00:59] h3adache commented on #88
When you say both choke what do you mean?
When I create stored procs using migrations I usually set the send_full_script to true and delimiter in the `./environments/development.properties` (or whatever environment properties file you are using) [See here](http://www.mybatis.org/migrations/init.html)

[code]
If that isn't working, send the error message and, if possible, a quick sample

[2017-10-12 03:56] chb0github commented on #89
I agree with you completely! Sadly, my situation is setting up an existing
database as coded infrastructure. You did inspire me on a solution but
still, it's supported by the underlying db so I would expect it to just
work.

Thanks for the patience

On Wed, Oct 11, 2017, 5:54 PM Tim Chen <notifications@github.com> wrote:

[2017-10-12 03:58] chb0github commented on #89
I just read the other ticket. I will try it tommorow from snapshot.

On Wed, Oct 11, 2017, 8:56 PM Christian Bongiorno <
christian.bongiorno@gmail.com> wrote:

[2017-10-12 04:00] chb0github commented on #88
I will definitely send you a fully reproducible case tomorrow.

On Wed, Oct 11, 2017, 5:59 PM Tim Chen <notifications@github.com> wrote:

[2017-10-12 04:58] chb0github commented on #88
[Here](https://github.com/chb0github/mybatis-example/) is an example

[2017-10-12 11:56] harawata commented on #87
Auditing was one of the use cases I had in my mind when I designed the hook feature.

You should create a separate table for auditing.
As it's a one-time operation, doing it in [bootstrap](http://www.mybatis.org/migrations/bootstrap.html) would make sense.

Then insert those information you need using hooks.
In your list, `tag` and `client_id` might be tricky to get, but other items should be stra

[2017-10-12 15:03] h3adache commented on #83
hi @svscorp I reproduced your issue
Please change your development.properties to:
[code]
As you see the only difference is that I removed the quotations from your driver and url.
Properties files are read verbatim, they do not use quotation marks.

[2017-10-12 16:30] chb0github commented on #87
I can get onboard with that thinking.

Can I use hooks to inject environment variables? like `${env.SSH_CLIENT}` environment variable are available inside the JVM.

[2017-10-12 17:01] harawata commented on #87
Sure. In a JavaScript hook script, you can get environment variables as follows.

[code]
It's still Java :)

[2017-10-12 23:00] chb0github opened #90 "config as YAML"
Hooks seem like a really cool and powerful feature. But the config syntax is a bit messy:

`hook_after_down=JavaScript:printvar.js:when=after:what=down`

would be much more inuitive as YAML:

[code]

Also, declaring `JavaScript` is redundant if you go by convention: `.js` or Groovy as `.groovy`

[2017-10-13 09:34] svscorp commented on #83
I'll try @h3adache , thank you.

[2017-10-13 12:10] svscorp commented on #83
@h3adache that's a nice catch.

Thank you. Can be closed.

[2017-10-13 12:32] #83 closed

[2017-10-13 15:46] harawata commented on #88
To change the delimiter in migration scripts, you need to use special syntax: `-- @DELIMITER`.
I have sent a PR .
Only a single character is accepted with this syntax, IIRC.

If you are wondering about the syntax, see https://github.com/mybatis/mybatis-3/issues/355 and https://github.com/mybatis/mybatis-3/pull/241 .

[2017-10-13 15:58] harawata commented on #90
Hi @chb0github ,

YAML might be nice, but not nice enough to complicate the implementation, but this is my personal opinion.
I appreciate your feedbacks and ideas, so please do not get me wrong. :)

The language name is declared by each implementation and Migrations just calls [ScriptEngineManager#getEngineByName()](https://docs.oracle.com/javase/7/docs/api/javax/script/ScriptEngineManager.html#ge

[2017-10-13 17:36] chb0github commented on #90
As I read into the spec I realized exactly how this is implemented: Just taken the name given and ask the factory for the script engine with that name:

Try this:

[code]

Gives you this:

[code]
Any of those Aliases would work.

The documentation is a bit incomplete - So, I guess then my only ask would be to update the docs a bit to make clear it's the the Engine alias (you can even paste the abo

[2017-10-13 17:40] chb0github commented on #90
The question to ask yourself about a feature request: Is it about having pretty code or a bad-ass app? I mean, I am evaluating the app, not the code. I am probably submit a PR for the job if it's gonna make it in

[2017-10-13 17:52] h3adache commented on #90
@chb0github I've been considering allowing configurations to be handled differently for a while, including allowing overrides (would be great for different environments that mostly share the same values) and allowing different configuration syntax so a PR would definitely be interesting. As with any PR, we can't guarantee that it would make it in but at least it opens the discussion.

[2017-10-13 17:54] h3adache commented on #43
Hi @jmodi1982 I'm closing this due to lack of feedback and the fact that we can't reproduce it but please reopen if you still see this.

[2017-10-13 17:54] #43 closed

[2017-10-13 18:21] chb0github commented on #88
Hmm, ok. I will give it a try right now. It does, however, essentially make it so the script can ONLY run with mybatis as this is no longer compatible with the native client. I will Make the changes and run it by our DBAs to see how they feel.

Alternatively: If a stored procedure was in a single file (or any of these crazy things with switching delimiters) could that also solve the issue? So, let

[2017-10-13 18:22] chb0github commented on #90
Is Java 8 allowed?

[2017-10-13 19:52] chb0github commented on #89
I tried `ignoreWarnings=true` in the properties file and `--ignoreWarnings` as a commandline option using the current checked in code.

As a property: It does nothing
as an option `migrate up --ignoreWarnings`:

[code]

current options enum:

[code]

pom:

[code]

[2017-10-13 21:22] chb0github commented on #88
Ok, so this is interesting and brings up the question: Why swap `DELIMITER ||` for `-- @DELIMITER %` The `DELIMITER` statement was always meant for the client so why not just accept that token instead of creating a new one all-your-own?

I understand it's DB dependent but it seems you could easily discover it through a series of strategies. The first one to succeed determines the dialect. Hibernat

[2017-10-14 01:35] chb0github commented on #89
Nevermind, I looked at the code more and figured it out:

it's `ignore_warnings`

[2017-10-16 08:23] jpenalver10 commented on #84
Hi @harawata ,

 I verify the fix with 3.3.2-SNAPSHOT, its correct, it works perfectly.

We are waiting the new release.

 Thanks!

[2017-10-16 12:11] svscorp opened #91 "Migration to Oracle DB executes but fails with RuntimeSqlException and java.sql.SQLWarning: Warning: execution completed with warning"
I am using mybatis-migrations 3.3.1 and Oracle DB.

Besides changelog.sql I have one migration file with a one-liner. If I run `migrate up` the log shows
"failure" while SQL is actually being executed.

20171013000000_test.sql
[code]

migrate up
[code]

Why is that?

[2017-10-16 13:14] harawata commented on #91
Hi @svscorp ,

Please see my comments on #84 .
That issue is about PostgreSQL, but the reason and the solution are the same.

It seems that DB servers raise warnings more casually than I thought. 😵
Maybe we should consider changing the default value of `ignore_warnings` from `false` to `true`.
@h3adache What's your take on this?

[2017-10-16 13:36] harawata commented on #88
According to https://github.com/mybatis/mybatis-3/issues/355 , to make it valid as SQL.
It is the same reason we write `-- //@UNDO` instead of `UNDO`, I guess.

As `DELIMITER` is a client command and not sent to the server, DB dependency seems irrelevant here.

[2017-10-16 14:47] h3adache commented on #91
I think changing the default to true makes a lot of sense.
A warning shouldn't be treated as an error unless explicitly told to do so.
I looked at the ticket that this behavior was added for and it looks like it was caused by a bad script that Oracle couldn't compile but only warned about.
I think having to set it false to handle that special case would be fine.

[2017-10-16 15:22] svscorp commented on #91
Hi @h3adache @harawata

Nice. I'll check on that and close the issue if it is fixed. Agreeing on suggested default value change.

Thank you.

[2017-10-16 15:58] jpenalver10 commented on #91
Hi @harawata @h3adache

I agree "A warning shouldn't be treated as an error unless explicitly told to do so.".

Set default value to true its meaning that I can not set the propertie? or the default value in environment.properties template?

thanks

[2017-10-16 16:40] harawata commented on #91
@h3adache
Totally makes sense!
I'll make the change and add a comment on related issues.
Thank you very much!

@svscorp @jpenalver10
Thank you guys for the comments!

The default value in the environment.properties template is changed to `true`.
And even if there is no line in the properties file, it's treated as `true`.

[2017-10-16 18:22] harawata commented on #46
Hi @jmodi1982 ,

In 3.3.2, a new per-environment option `ignore_warnings` is added and its default value is `true`.
So, by default, warnings do not stop migrations.
For your use case, you may have to add `ignore_warnings=false` to your environment properties files.

We've got several reports about migration being aborted by warnings unexpectedly and decided to change the default behavior.
I apolog

[2017-10-16 18:27] harawata commented on #84
@jpenalver10 ,
Thank you for testing!
As we discussed on #91 , the default value of `ignore_warnings` is now `true`.

[2017-10-16 18:48] harawata commented on #89
Hi @chb0github ,

After discussion, we have decided to change the default value of `ignore_warnings` to `true`.
It means that SQL warnings will not stop migrations in 3.3.2 by default.
I am sorry if there is any confusion.

[2017-10-16 20:12] chb0github commented on #89
Thanks! Seems fair - and maybe warnings still go to stderr?

[2017-10-16 20:45] chb0github commented on #88
I am looking at the code now that handles this.

Because your hide the delimiter switch in comments that means it's completely safe and thus DB agnostic. What I am suggesting is that you make DB-specific determination of the delimiter switch and use the declaration in the file.

[here is the code](https://github.com/mybatis/mybatis-3/blob/master/src/main/java/org/apache/ibatis/jdbc/ScriptRunner.ja

[2017-10-17 00:06] chb0github opened #93 "bootstrap directory?"
The bootstrap file is a good embrace of real life but could be improved by alternatively supporting a directory called `boostrap` My situation, for example, would have a single sql file that's 500mb. This could actually prevent a migration from running because it just requires too much ram. So, breaking files down makes good sense.

I can make the PR no problem.

[2017-10-17 07:23] jpenalver10 opened #94 "Migrate support for OS MINGW64"
Hello guys!

I'm currently using MinGW (http://www.mingw.org/) as my default shell environment over windows 10. It's currently distributed with GIT client for windows and very useful for windows users.

When I try to run migrate in this bash, I receive this error:

[code]

I historically solve this problem editing the migrate script *nix, adding the next line in the resolution of OS specific suppo

[2017-10-17 07:56] harawata commented on #94
This may be a duplicate of #58 .
The script is generated by [Appassembler maven plugin](https://github.com/mojohaus/appassembler/).
I already [reported](https://github.com/mojohaus/appassembler/issues/55) the issue on their tracker, but as you have a workaround, I would suggest you to send a PR and see if it's accepted.

[2017-10-17 08:23] jpenalver10 commented on #94
ooops sorry! Ok, maybe I send PR to Appassembler.

thanks!

[2017-10-17 15:37] h3adache commented on #57
@avs777 if you run into this again please give us steps to reproduce or, if you can, a sample project would be great. I can't reproduce your issue atm.

[2017-10-17 15:37] #57 closed

[2017-10-17 15:52] h3adache commented on #88
Hi @chb0github I like your first idea.
I'm not entirely clear why the old code was just taking 1 character.
I commonly use multiple characters in delimiters as well.
I'm not sure what you mean by your 2nd.

[2017-10-17 16:56] chb0github commented on #88
I made the change suggested in 1 and already submitted a [PR](https://github.com/mybatis/mybatis-3/pull/1116/files).

One thing I am really trying hard to do is to have SQL files that are compatible with the native mysql client and with mybatis. I currently can't do that.

After apply the changes in 1 I re-jiggered one of my problem files to try to be compatible with both. That required a redundan

[2017-10-17 18:52] chb0github commented on #87
Well, since I would be adding to a DB then I really need to have a templated insert statement for the hook.

[2017-10-17 19:06] harawata commented on #88
+1 to this as well.

Regarding the second one, though, I honestly don't see any reason why migration scripts that are for MyBatis Migrations need to be compatible with MySQL client (or any other client for that matter).
If you really want this, how about rewriting the script in pre-hook (and reverting it in post-hook if necessary)?

[2017-10-17 19:38] chb0github commented on #88
It's a 2 fold case:

1. If you can have your cake and eat it too, why not?
2. the use of a delimiter declaration of `--@DELIMITER` is redundant. This brings up the mantra of [DRY](https://en.wikipedia.org/wiki/Don%27t_repeat_yourself)
3. Reduces friction to acceptance by weary DBAs - if all hell breaks loose with mybatis they can still do the job the old fashioned way.

Pre/post hook requires me m

[2017-10-17 19:38] #88 closed

[2017-10-18 11:16] harawata commented on #88
I found one good use case that justifies the change. :D
When executing `migrate script`, the generated script may be run on another client and there is a clear advantage in using native delimiter syntax.

To keep the implementation DB agnostic, I'll probably add a new option `delimiter_prefix` or `delimiter_pattern`.
Give me some time, please.

[2017-10-18 14:18] svscorp commented on #91
Hi @harawata @h3adache

Me and the team has validated - it works.

Thank you! Will you release 3.3.2 soon ? :)

[2017-10-18 16:04] chb0github commented on #88
That won't be DB agnostic. I suppose this discussion can continue in another issue as the one dealing with stored proc is concluded.

[2017-10-18 16:25] chb0github opened #95 "Use native DELIMITER"
following on #88 mybatis should honor native DB delimiters in order to support stored procedures and such.

Benefits to this approach

1. In the unlikely event that a migration goes wrong the original SQL script can be run with the native client
2. Reduces the friction to adoption by those familiar with the native tooling due to 1)
3. use of `migrate script` may generate a script that is intended

[2017-10-18 16:34] chb0github opened #96 "FEATURE: Use of multi-character delimiters"
Discussed in #88

Currently the --@DELIMITER flag only accept a single character. Considering most programming languages are capable of using every character on the keyboard, frequently a multi-character delimiter is used.

[2017-10-18 16:43] harawata commented on #95
Both of your idea requires to implement the patterns (dialects) in Migrations code and we do not do that.

Instead, I plan to add a new option `delimiter_prefix` or `delimiter_pattern`.
This will work with any database without modifying Migrations code.

In your case, the configuration will look like...
[code]

This meets your requirement, doesn't it?

[2017-10-18 16:51] chb0github opened #97 "Feature: Quiet mode"
[PR](https://github.com/mybatis/migrations/pull/92)

[2017-10-18 16:59] chb0github commented on #95
My case? Sure. The general case? No. For oracle, [the syntax is](https://docs.oracle.com/cd/B19306_01/server.102/b14357/ch12040.htm#i2698702)

`SET CMDS[EP] {; | c | ON | OFF}`

example:

[code]

So, while it won't be easy (hence the suggestion of using predicates and an AbstractFactory) what you have won't work.

[2017-10-24 15:04] harawata commented on #95
Hi @chb0github ,

Sorry for a late reply.
At this point, I am not sure if there is a universal solution that does not involve dialect or similar.
Please use hooks for now.

[2017-10-24 16:46] chb0github commented on #95
How about we leave the issue open as a feature request? Closing an issue means it's not an issue any more and becomes less visible

[2017-10-24 16:48] harawata commented on #95
Okay.

[2017-10-24 17:18] harawata commented on #89
It can be quite verbose, so I think it's not necessary.
Closing as a duplicate of #84 .

[2017-10-24 17:18] #89 closed

[2017-10-24 20:56] svscorp commented on #91
Ping @harawata @h3adache

[2017-10-25 12:33] harawata commented on #96
Fixed in the core via https://github.com/mybatis/mybatis-3/commit/082bb34732ebdf532b34a57b7f8bbe11ffe7d9d6
That version of the core will be included in the next release (3.3.2).

It is also possible to verify the fix with the following steps.

- Replace older `mybatis-VERSION.jar` in $MIGRATIONS_HOME/lib` with the latest mybatis-3.4.6-SNAPSHOT.jar obtained from the [snapshot repo](https://oss.sona

[2017-10-25 12:33] #96 closed

[2017-10-25 12:50] evandroamparo opened #98 "How to change default charset?"
In my development.properties `script_char_set` is set to Windows-1252 but all the files generated by `migrate new` are encoded with UTF-8.
Does this setting affect only the reading of scripts during migrations or it should be used to generate new scripts too?
Is 'Windows-1252' correct?

[2017-10-25 13:00] harawata commented on #91
@svscorp ,

Sorry for a late reply.
To apply the fix for #96 , it may have to wait for MyBatis 3.4.6 to be released.

There is no full time committer in the team, so please bear with us for the delay!

[2017-10-25 16:53] h3adache commented on #98
Hi @evandroamparo you are correct, new doesn't actually do anything with the file encodings.
It simply copies the file [template_migration.sql](https://github.com/mybatis/migrations/blob/master/src/main/java/org/apache/ibatis/migration/template_migration.sql). We load the file content using the charset defined though.
Is this causing an issue when you can't enter Windows-1252 encoded data into the

[2017-10-25 23:39] evandroamparo commented on #98
When the script has accented characters and the file is encoded with utf8, they are not translated correctly. I have to manually save each file with 1252 encoding.

[2017-10-25 23:47] evandroamparo commented on #98
My databases have Windows-1252 charset and don't accept data in utf-8

[2017-10-26 10:06] svscorp opened #99 "Feature request: Jenkins plugin"
Hi MyBatis team,

Is there any plan to introduce a Jenkins plugin for MyBatis Migrations? With ability to install latest (or a certain) version of the tool automatically?

[2017-10-26 10:32] svscorp commented on #91
@harawata no problems, I totally understand it. I was patiently waiting :)

Thank you for support!

[2017-10-26 10:32] #91 closed

[2017-10-26 14:41] h3adache commented on #99
Hi @svscorp I don't know of any plans to add a jenkins plugin. Perhaps @harawata might know of one.
In the past, I've used [migrations-maven-plugin](https://github.com/mybatis/migrations-maven-plugin) and also a gradle plugin that I wrote to manage migrations in a CI/CD environment like Jenkins.

[2017-10-27 02:57] #97 closed

[2017-10-27 02:57] h3adache commented on #97
Merged

[2017-10-27 16:40] h3adache commented on #98
Interesting. What is the default encoding when you create a new file yourself @evandroamparo?
I will add a fix for this as soon as I have some time.
In the meantime, the only thing you actually need in the migration files is the
[code]
That separates your migrate up and down commands.
I think we could/should probably remove the licensing from those templates as well.

[2017-10-27 17:03] evandroamparo commented on #98
I create files with Windows 1252 in Sublime Text, ANSI in Notepad.

[2017-10-27 17:06] evandroamparo commented on #98
+1 to remove the licensing

[2017-10-27 18:11] harawata commented on #98
@evandroamparo ,

A migration script generated by `migrate new` only uses ASCII characters unless you specify accented characters in the description (which probably is a bad idea because it will be part of the file name).
You just need to save the file in the right encoding after editing the script using accented characters,
Sublime Text 3 has a menu 'Save with Encoding'.

Besides, script files mu

[2017-10-28 07:21] harawata commented on #98
I might have not been clear enough.
Although it is technically possible for Migrations to save a new script in Windows-1252, it won't resolve your problem because the file will exactly be the same as the current one.

[2017-10-28 15:10] h3adache commented on #98
That’s a good point @harawata but I think there might be an issue in the encoding/decoding when you read utf-8 back to windows-1252. Can you create a quick example @evandroamparo?

[2017-10-28 23:53] evandroamparo commented on #98
I'm using Firebird and the URL already contains the enconding parameter:
`url=jdbc:firebirdsql:localhost/3050:test?encoding=WIN1252`
This is what I get when I save the script with UTF-8:
[code]
And with Windows-1252 (expected):
[code]

[2017-10-29 06:30] harawata commented on #98
@evandroamparo ,

That happens when your script is UTF-8 and `script_char_set` is Windows-1252 (or something similar) [1].
It should work if you set UTF-8 to `script_char_set`.
Note that JDBC connection URL still has to have `encoding=WIN1252`.
If it still does not work, please upload your migrations directory to your GitHub repo.

It works like...

- File (UTF-8) ->[InputStreamReader]-> Java (Uni

[2017-10-30 15:00] harawata commented on #93
Hi @chb0github ,

Thank you for the report.
I could verify the problem with a large bootstrap.sql.
Regarding how to solve it, though, I think it's better to improve Migrations so that it can handle a large file efficiently.
I will look into it.

In case you (or someone) need a quick solution (and have a lot of RAM), try increasing the heap size.
The heap size is specified at the bottom of the laun

[2017-10-30 17:50] chb0github commented on #93
I think you misunderstand: I don't currently have this issue. I am suggesting an alternative approach. A directory called `bootstrap` that is filled with SQL files. It makes management easier and can reduce the memory foot print

[2017-10-31 11:58] harawata commented on #93
Bootstrap is a one-time operation and bootstrap SQLs are not supposed to be modified once migration has started.
So, I thought you could just concatenate those scripts with `cat` or `type` before performing bootstrap once the memory usage issue was fixed.

If this turns out to be a frequently requested feature, I would add some general purpose way to achieve it (e.g. add bootstrap hooks or allow c

[2017-10-31 20:05] chb0github commented on #93
The use of conventions in this project is a good thing - it eliminates confusion. You could support a custom migration loader if you have a truly crazy scenario.

My case: I have a bootstrap directory with 80+ sql files each one representing the creation of a schema in mysql along with several for domain data. While I can concatenate them that makes a single file unwieldy. The implementation could

[2017-11-14 14:45] svscorp opened #100 "MyBatis installed in Docker container fails with ERROR: Could not create SqlRunner. Cause: java.sql.SQLRecoverableException: IO Error: The Network Adapter could not establish the connection[Pipeline]"
Hi team,

I am facing an issue with my MyBatis 3.3.2. It can't execute migration, and there is not more information that below.

MyBatis is installed in a Docker image and executed inside a container. DB Host and Port is accessible both from host and Docker container.

Not even sure where to go with further troubleshooting.

[code]

[2017-11-14 15:47] h3adache commented on #100
Can you share a simple docker project? Usually when you get this it is either
* url is wrong
* name resolution isn't working (database-host in your case. try ip instead).
* db isn't running
* ports are blocked

[2017-11-14 18:57] chb0github commented on #100
@svscorp Your docker setup, not migrations, is nearly certainly the culprit.

[2017-11-15 08:39] jpenalver10 commented on #94
I close this issue for duplication.

Thanks.

[2017-11-15 08:39] #94 closed

[2017-11-15 12:54] svscorp commented on #100
Hi @h3adache @chb0github Thank you for quick reply. I consider it's in the docker environment as well, spent some time trying to figure out what is the issue. But it's a simple Docker container, with "as is" mybatis installation.

wrapper code (migrate.sh):
[code]

image code
[code]

I can telnet **from the container** to that host or ip (port 1521).

[2017-11-15 12:55] svscorp commented on #100
It's validated on mybatis in non-container installation

IP the same

It's running, I can connect to it using telnet

Same as above.

[2017-11-15 16:22] h3adache commented on #100
Sorry just to double check you are sure databasesid is the right name of the db?
Can you create a sample docker?

[2017-11-16 01:22] svscorp commented on #100
I did some troubleshooting. It has nothing to do with Docker. I installed it on the VM itself to check narrow down the issue.

Strange.

[2017-11-18 11:44] harawata commented on #93
Just FYI, the latest snapshot should be able to read a large script file without throwing OutOfMemoryError.

Regarding the proposed change, I still prefer providing flexibility in one of the two ways I proposed rather than adding a variation to the core schema.

You can delete the concatenated file after performing bootstrap and keep maintaining the 80+ files.
So, with bootstrap hooks, my idea was

[2017-11-18 14:10] svscorp commented on #100
As this is not related to MyBatis most probably, closing the issue.

[2017-11-18 14:10] #100 closed

[2017-11-29 16:22] sudhakar890 opened #103 "java.sql.SQLSyntaxErrorException: ORA-00911: invalid character"
Hi, I'm using  mybatis-migrations-3.3.2-SNAPSHOT and Oracle database. If the SQL code contains the special characters , mybatis is throwing the java.sql.SQLSyntaxErrorException: ORA-00911: invalid character error.
In development.properties file, script_char_set=UTF-8 is defined.

SQL code -
##special characters
v_Field_Temp := REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE

[2017-11-29 16:44] harawata commented on #103
Hi @sudhakar890 ,

It seems that each literal is not closed correctly. Have you verified that the syntax is valid?
And make sure to save the file in UTF-8.

[2017-11-29 17:16] svscorp commented on #103
Hi @harawata

I think it has to do with GH formatting. I checked his script in source and it is:
`v_Field_Temp := REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(v_Field,'Æ','A'),'æ','ae'),'ã','a'),'Ã','A'),'å','a'),'Å','A'),'á','a'),'Á','A'),'à','a'),'À','A'),'ä','a'),'Ä','A'),'â','a'),'Â','A');`

Looks like no issues (from literals

[2017-11-30 04:07] harawata commented on #103
To narrow down the problem, try some simpler statement with a special character.

[code]

If it fails, please post oracle version, driver version, database character set (it worked on my environment: Oracle 11.2.0.2.0, ojdbc7-12.1.0.2, NLS_CHARACTERSET=AL32UTF8, NLS_NCHAR_CHARACTERSET=AL16UTF16).

If it works, encoding issue is unlikely and we may need to see the entire script.

[2017-12-07 21:13] chb0github commented on #93
Our situation is that we are actually using this as part of a build process and creating docker images of our DB - so, it's repeated over-and-over. Though the bootstraps files should never be changed, it doesn't mean people won't want to look at them to find out quickly where something is.

[2017-12-07 21:18] chb0github opened #105 "Create Dockerfile and upload docker image to dockerhub"
The installation process is well described but still a bit involved.

A great enhancement would be to create and push a docker image on build. This would  entirely eliminate the installation process for those choosing the image. You could do:

`docker run -it -v $PWD:/root -w /root mybatis/migrations migrate`

This also gives you a path forward for using Java 8

[2017-12-07 22:58] h3adache commented on #105
lol I was thinking about this a lot recently

On Thu, Dec 7, 2017 at 16:18 Christian Bongiorno <notifications@github.com>
wrote:

[2017-12-11 19:19] chb0github opened #106 "before_new and after_new hooks"
I would like to implement before/after `new` hooks as they exist for the other hooks. Any objections?

[2017-12-11 19:25] chb0github commented on #93
I can rollout this feature in a completely backward compatible way:

[code]

I am also willing donate a dockerfile as per #105 to see this change accepted

[2017-12-11 19:25] chb0github commented on #106
I am also willing to fold-in a dockerfile as per #105 to see this change accepted.

[2017-12-11 19:26] chb0github commented on #105
You would need to update your build process to create the image and upload it to dockerhub

[2017-12-12 00:39] harawata commented on #106
Hi @chb0github ,

Could you elaborate on the use case?
`new` command is rather unique and we may need to know what you are trying to achieve with the hooks to make it useful.

[2017-12-12 00:51] harawata commented on #93
I am working on the custom-FileMigrationLoader implementation.
It might take some more time as I'll be busy with my day job for a while.

[2017-12-12 02:51] chb0github commented on #93
If you want help with it push your code. This work is for my job so I can
dedicate to it

On Mon, Dec 11, 2017, 4:51 PM Iwao AVE! <notifications@github.com> wrote:

[2017-12-12 03:00] chb0github commented on #106
When a new migration is created we need to create a few other corresponding
resources based on the file to be created. In addition, it allows
flexibility for doing  validation on the naming of the file as they are
based on jira tickets

On Mon, Dec 11, 2017, 4:39 PM Iwao AVE! <notifications@github.com> wrote:

[2017-12-12 03:41] chb0github commented on #106
To be clear, it's a feature I am willing to implement. I just need to know
it will be folded in if implemented

On Mon, Dec 11, 2017, 7:00 PM Christian Bongiorno <
christian.bongiorno@gmail.com> wrote:

[2017-12-12 09:44] harawata commented on #106
Thank you for the explanation!
Description validation looks useful.

There is one thing I would like to discuss first.
As `new` is one of the commands that are independent of environment, the environment properties file does not seem to be the right place to configure new-hooks.
What do you guys think about adding a per-project configuration file and store environment-independent settings?

As a b

[2017-12-12 09:45] harawata commented on #93
Thanks, @chb0github !
The implementation is done actually. It still needs test cases and documentation.
It may be possible to commit the code first for testing, though.
I'll open a PR later and ask @h3adache his opinion about the implementation.

[2017-12-13 00:16] chb0github commented on #106
I don't have much knowledge on the subject, but let me ask:

What's the difference between `mybatis.properties` and an environment property set? Outside of the local directory, what more is needed?

put it all in `mybastis.properties` and have the default environment something you can configure

As for the hooks: I would say that git has the right idea: create a `.hooks` directory and use conventi

[2017-12-18 11:04] schumacher-m commented on #105
We do something like that to do a "docker-compose run bin/mybatis ..." on different machines. Maybe this helps to get something similar in the meantime. In theory this could also be used for a dockerhub image. It just needs a wrapper entrypoint.sh to the mybatis bin so you can enter the commands directly.
Then we could use this: https://github.com/spotify/dockerfile-maven

Is this considered worth

[2017-12-18 21:39] schumacher-m opened #108 "--format Option for output"
I'd like to give the tool more options for a leaner output similar to other test frameworks to set the focus on errors and not good migrations.

What I ideally want in the very first iteration:
[code]
Or to slice it smaller and make a PR less complex: Just print the exceptions.
Something like that. I'm not sure how to include hooks in the output yet - I'd just add them to the total count and treat

[2017-12-19 00:29] chb0github commented on #105
the `Dockerfile` makes sense to checkin but not the compose. If you create a branch I will collab with you on it.

[2017-12-19 19:22] svscorp commented on #103
@sudhakar890 can you pls close the issue? It was resolved and the reason was not related to encoding at all.

Actually, the error message was taken from Jenkins output (console) and looks like it's pretty normal to see ? ? ? in the trace. The original issue was due to mess with delimiters and single line comments (mybatis/mybatis-3#1116). Huge 30k line PLSQL scripts :\

@harawata Thank you for sup

[2017-12-20 03:10] #103 closed

[2017-12-21 14:16] harawata commented on #103
Hi @svscorp ,

Good to know it wasn't a Migrations bug. :)

Assuming your migration scripts are maintained in a Git repository, how about this?

Here is an example directory structure.

[code]

The file `actual.sql` is the one that contains the actual package declaration.
When there is a change, you edit this file and commit it to the repo just like a Java source file.

In a migration script, inst

[2017-12-21 18:11] harawata commented on #103
I just remembered there was another user who had a similar requirement (#59).
I wrote a [hook script](https://github.com/mybatis/migrations/issues/59#issuecomment-261988349) that watches files' checksum and execute the SQL when they are modified.
To make it work with `down` command, his schema requires relatively complex directory structure.

[2017-12-23 04:03] chb0github commented on #106
I have a working implementation of `new` hooks. It follows current coding conventions and hook mechanisms. Our discussion about other changes went nowhere. So, I would like to get this accepted and have discussions about refactoring occur after

[2017-12-28 12:47] jpenalver10 commented on #91
Hi @harawata !

do you know when you releases the new version that resolve this issue?

thanks!

[2017-12-28 15:38] svscorp commented on #91
Hi @jpenalver10 I think it is available in latest snapshot (3.3.2-SNAPSHOT).

[2017-12-28 22:06] chb0github commented on #93
@harawata - what's the situation on your implementation?

[2017-12-29 05:31] harawata commented on #91
Hi @jpenalver10 ,

Migrations has to wait for the next core release (3.4.6), but there still is an ongoing work there.
And @svscorp is right. It would be really helpful if you could try the SNAPSHOT to make sure everything works as you expect.

[2017-12-29 05:34] harawata commented on #93
Hi @chb0github ,

You mean the tests and doc, right? I'm still working on it.

Have you had the chance to try the custom [FileMigrationLoader](https://github.com/harawata/bootstrap-dir) that I attached to #107 ?
Did it work as you expected?

I'll close this ticket as the requirement can be met with #107 .

[2017-12-29 05:34] #93 closed

[2017-12-29 06:31] chb0github commented on #93
Yes! Actually I implemented one already. The way we want to do bootstrap
and need to do migrations are really crazy. Honestly what I am dealing with
now is a first and the flexibility this tool allows lets me address my
specific case while still taking advantage of a lot of infra.

I have a pr pending in mybatis. When that gets merged I would love to have
that dependency updated and migrations rel

[2017-12-29 18:08] harawata commented on #93
That's awesome. Thank you for the clarification!
When it comes to database schema migration, every team has some unique requirements, it seems. :grin:

[2018-01-01 01:20] chb0github opened #112 "script based FileMigrationLoader"
The `MigrationLoader` and the `FileMigrationLoaderFactory` make things really flexible. But, I would like to propose another implementation that will really open up mybatis to non-java developers and allow for a light-touch

Some background:
-

The situation I am trying to address requires a custom `MigrationLoader`. And, it seems to be working the way I would like it to be. But, let's consider wh

[2018-01-01 06:29] harawata commented on #112
Thank you for the idea, @chb0github !
I thought about it, but it 1) requires another section in the documentation and 2) complicates the implementation more or less, so I think the current implementation is good enough for a first release.
Let's keep this ticket open and see if it gets other users interests before you start working on it.

To all,
Please use the 'reaction' feature to vote up inste

[2018-01-02 18:11] chb0github commented on #112
@harawata

1. Documentation: If you can point me to the docs that need updating I will gladly do it
2. This I don't understand at all. It's an entirely new and independent implementation. How could it complicate anything if it's independent?

[2018-01-02 18:17] h3adache commented on #112
What do you achieve from having this in migrations core vs just adding it as your own `ScriptBasedMigrationLoader` other than having to be supported in migration core? I can think of a few migration loaders that might be needed (File which is currently there, Directory based one which has been requested twice that I counted, a Jar based on that I use in my own personal development and the java bas

[2018-01-02 18:26] h3adache commented on #98
@evandroamparo did @harawata's solution work for you?

[2018-01-02 19:40] chb0github commented on #112
I am not working with a Java-based migration project. If I have to implement a `FileMigrationLoader` then I need to take my non-java project and java-ify it. See above for details.

This approach actually would allow migrations to essentially end the one-off requests. Migrations greatest features are it's commendable flexibility; it doesn't get any better than this.

I think the part that seems to

[2018-01-02 22:38] hibaymj commented on #112
@h3adache I am having trouble seeing where this is 'one-off', when you acknowledge there are not only a few people asking for similar features, but offering to have their implementations form the foundation of the features themselves.

This feature addresses a legitimate pain with the use of mybatis, namely it needs to be included within a Java based project.  The functionality of the tool is exce

[2018-01-02 22:50] litwicki commented on #112
This would essentially open up mybatis to the entire LAMP stack universe; I'm failing to see the downside..

[2018-01-02 23:13] chb0github commented on #112
[php](https://github.com/belgattitude/soluble-japha)
[ruby](https://github.com/jruby/jruby)
[lua](https://sourceforge.net/projects/luaj/)

[2018-01-02 23:57] h3adache commented on #112
@hibaymj @litwicki I appreciate the enthusiasm. But I fail to see how it's currently NOT opened up to those other stacks. I use it myself in many non java/jvm projects (js, perl, python, c++).
With the addition of the hooks that @harawata added, there's already scripting language support for all the heavy lifting that migrations does.

@hibaymj again, appreciate the feedback but I said directory b

[2018-01-03 00:04] chb0github commented on #112
@h3adache - in a C++ project: Do you have a custom `FileMigrationLoader` implemented in C++? It's not that it can't be used in those projects, it just can't be used with a customization. To use a custom `FileMigrationLoader` in your C++ project you would have to build it in java and put the resulting jar somewhere on the CP

Last I heard @harawata hadn't merged in those changes yet. And, that's ha

[2018-01-03 00:05] chb0github commented on #112
@h3adache Maybe @hibaymj was a bit harsh. I think the point is: `FileMigrationLoader` and `MigrationLoader` are interfaces. Which means they are designed to be independent.

[2018-01-03 02:19] hibaymj commented on #112
@h3adache Apologies for the apparently heavy handed response, no attack was initiated or intended.  I had to spend the previous 5 hours doing HR related training, nerves were a bit raw apparently.

What I believe @chb0github is saying is that migrations assumes there is a Java build tool being used to build the project, which is clearly not the case when using NPM, Yarn, Phing, Deployer, etc...  Y

[2018-01-03 06:24] harawata commented on #112
@chb0github
I have to assume that you asked your friends (who obviously do not understand the purpose of this request correctly) to vote this issue up to force us to accept your contribution.
It makes it difficult for us to evaluate what really is beneficial to this project and also is disrespectful to users who actually use this tool.
More than anything, it makes me really disappointed to see a r

[2018-01-03 07:31] chb0github commented on #112
@hibaymj turned me on to your project a couple of months ago and I asked
him what he thought of this idea. His words are his own and I didn't put
him up to this at all.

I am working with one other person and he is watching the several issues I
have open as it effects him to.

The fact remains that I am not working with a Java project and the other
people who will work with the project when I am d

[2018-01-03 14:04] hazendaz commented on #112
Count me as uninformed.  This is for my learning benefit.  How exactly do you  even end up using something written in java even if just an interface without actually using the jvm?  It's still byte code at that point.  I also fail to see how other tools could not be used with underlying users needing to learn java. I don't think they need too. There is a maven wrapper.  You can plug in frontend ma

[2018-01-03 14:52] chb0github commented on #112
@hazendaz - Hey Jeremy,

The distinction is this:

- The `jdk` is the `java development kit` which includes the compiler and other build/debug tools.
You need this to compile java code
- The `jre` is just the `run time` and is required to run any JVM based app. Apps written in languages such as Scala/clojure as well as java
- Maven is a build and dependency management tool. It does other things to

[2018-01-31 12:28] hbobenicio opened #114 "Allow environment configuration override via CLI arguments, Java System Properties or Environment Variables"
I'm not sure if I got it right but... the only way to configure migrations environments is via a Properties File (for example: ./enviroment/someEnv.properties). Am I correct? (at least I didn't find more on that on the docs [page](http://www.mybatis.org/migrations) )

If so, it would be also interesting to configure some of the environment properties (or override them) via CLI arguments, Java Syst

[2018-02-01 17:10] harawata commented on #114
Hi @hbobenicio ,
Thanks for the request!

@h3adache ,
I'm not sure if I understand your [comment on #10](https://github.com/mybatis/migrations/issues/10#issuecomment-123870305) correctly, but is this already possible with Maven or Gradle plugin?

[2018-02-02 17:57] harawata commented on #114
Thank you for the explanation, @h3adache !
So, the substitution occurs when building the project, right?
If the goal is to avoid committing password etc. to VCS, it may be an acceptable solution indeed.

@hbobenicio ,
Does @h3adache 's method meet your requirement?

p.s.
Just curious, are those 'protected environment variables' different from normal environment variables in any way?

[2018-02-04 13:03] hbobenicio commented on #114
In my case, I'm using the [migrations-maven-plugin](https://github.com/mybatis/migrations-maven-plugin).
I tried many ways to define -Durl, -Dusername and -Dpassword properties in my maven project (inside pom.xml, as command line argument, as the migrations-maven-plugin configuration) without any success. Maybe I'm missing something. Maybe there is a similar way to expand properties with maven lik

[2018-02-04 17:13] harawata commented on #114
Migrations or migrations-maven-plugin itself does not provide filtering (i.e. variable substitution).
But Maven's resource plugin does.
https://maven.apache.org/plugins/maven-resources-plugin/examples/filter.html
This should be slightly easier than your current method, I think.
If you had any difficulty, please let me know and I'll try it myself.

And thanks for the links.
I've never had a chance

[2018-02-04 22:23] hbobenicio commented on #114
thanks for the tip @harawata !
I really appreciate that!
I didn't know about this plugin. It really seems like a better approach, for sure.
Gonna try that this week.

Well then... you guys can tell if this may be a nice desirable feature or if this runs out of the scope of the project. In case of the later, I'm ok about closing this issue.

Once again, thanks for all the tips!

[2018-02-05 18:47] harawata commented on #114
You're welcome!
And we thank you for taking the time to submit the request.

Regarding the enhancement idea, I'm not opposed to it.
It's just that doing it with build tools (i.e. Maven or Gradle) seems to be sufficient, so far.
And it also is a little bit unclear to me how it affects Maven/Gradle plugins (I'm not an expert either).

[2018-02-06 15:11] h3adache commented on #114
Hi @hbobenicio and @harawata! Sorry for the late response. Yes the filtering is exactly what I use.
You can use the filtering along with env/system/even settings.xml values using [https://maven.apache.org/pom.html#Properties](https://maven.apache.org/pom.html#Properties)
If you set up env or system properties in your gitlab ci pipeline (as properties of your runners) then it will automagically use

[2018-02-13 06:35] chb0github commented on #112
I have production ready code. If a PR is going to be reviewed and potentially accepted I will create one - in addition I will supply a sample project that this approach helps address

[2018-03-15 18:48] harawata commented on #99
Hi guys,
Sorry for a late reply! I too am using the Maven plugin on Jenkins.
If you need any help with setting up Maven or Gradle plugin, we might be able to help.

And if someone developed a Jenkins plugin, please let us know. :D

[2018-03-19 17:57] h3adache opened #117 "Migration Down Fails in 3.3.2 if you don't have have a return char on sql statement."
[code]
up + down successfully completes but down is an empty statement.

[code]
up + down successfully correctly. The only difference is adding a return after the DROP statement.
Probably relates to #101 but need to investigate more.

[2018-03-20 00:26] h3adache commented on #117
Nice, quick find! Yea, we should do a quick release for this one. Thanks!

[2018-03-20 16:32] harawata commented on #117
3.3.3 is [out](http://repo1.maven.org/maven2/org/mybatis/mybatis-migrations/3.3.3/). Thank you, @h3adache !

[2018-03-20 21:25] h3adache commented on #117
Hi @harawata this bug is still there but on the down stage. It doesn't replace ${changelog} if it's not followed by a return character :P
I can look into it if you don't have time.

[2018-03-21 01:44] harawata commented on #117
@h3adache , XD
Sorry, I should've waited for your verification. It's fixed in the snapshot.

[2018-03-21 14:35] h3adache commented on #117
@harawata thanks! I tried the 3.3.4-SNAPSHOT and it looks great!

[2018-03-21 14:51] harawata commented on #117
Thank you, @h3adache !
Let's wait for a while before releasing 3.3.4 ;D

[2018-04-09 11:36] djeanprost opened #118 "When script contains more than one statement with a failing one"
Hello,

I met a problem with a script that contains 2 statements : a correct create table script and an incorrect insert script.
The create table is correct, but the insert script couldn't work because of data cast impossible to be executed.

As there is an error executing the script, none of the two statement where applied against the database, but mybatis reporded this script with **success**.

[2018-04-09 14:07] h3adache commented on #118
A cast as in `CAST(xx as yy)`?

[2018-04-10 07:16] djeanprost commented on #118
the script is like this. The problem comes with the 2nd statement where the **'NULL'** value should have been **NULL** instead.
When executing this script, mybatis sees it as success although there was a problem during execution preventing to apply the 2nd statement because of the data type problem.
If I change the default value of _send_full_script_ from **true** to **false**, the behaviour is fi

[2018-04-10 07:31] djeanprost commented on #118
I wonder if the problem could be in **org.apache.ibatis.jdbc.ScriptRunner.executeStatement(String)** where multiple "resultsets" are not handled correctly. For instance, **java.sql.Statement.execute(String)** returns only the result of the first statement, but to get the others statements results, some more code is needed.

[2018-04-10 16:40] harawata commented on #118
It seems that we need to call `java.sql.Statement#getMoreResults()` to let MS SQL Server throw the exception.
mssql-jdbc team says it follows the JDBC spec.
https://github.com/Microsoft/mssql-jdbc/issues/367

It may be possible to adjust Migrations behavior.

@h3adache ,
We chatted about copying ScriptRunner to Migrations, but how about moving it out of core and maintain it as an independent libra

[2018-04-10 21:09] h3adache commented on #118
Where are you thinking of @harawata? Seem a bit extreme to have just a single file as a 'common'.

[2018-04-12 14:59] harawata commented on #118
@h3adache ,
I was thinking about moving ScriptRunner, SqlRunner and RuntimeSqlException to a new repo like 'mybatis-script-runner' or 'mybatis-tools' because they do not depend on MyBatis and are used only by tests in the core.
Anyway, it was just an idea and maybe you are right about being extreme, so let's leave the idea for now.

The issue I would like to solve is that Migrations releases being

[2018-04-18 08:15] svscorp opened #119 "Feature: Out-of-Order migrations"
Hi team,

Currently if I run migration against files with timestamps that are older than latest in the CHANGELOG database - these files are being skipped. Is it possible to have a flag to force MyBatis to apply older migrations if they were not found/applied in CHANGELOG?

[2018-04-18 13:03] svscorp commented on #105
I'd say compose us also good to have (maybe in examples or so?)

[2018-04-18 15:36] harawata commented on #119
Hi @svscorp ,
Have you checked `pending` command?
http://www.mybatis.org/migrations/pending.html

[2018-04-21 14:10] sudhakar890 opened #120 "How to execute the migrate script command output?"
Hi Team,

How to execute the output file generated from the migrate script command? For example undo.sql file generated here.
/home/cbegin/testdb$ migrate script 20090804225333 20090804225207 > undo.sql

[2018-04-23 15:13] h3adache commented on #118
Sorry for the late response @harawata! I think a mybatis-tools would be great but most of the tools that I can think of that would be most handy would be built on top of and to 'enhance' the user experience with mybatis itself. I'm definitely open to the idea of a common or tools type library. I wonder what else the other devs might find handy to split out

[2018-04-25 13:08] poojagit912 opened #121 "'script' command can generate incomplete script"
Hi Team,

We are executing migrate script on the .sql file which has undo section of more than 100 lines, but the output we get is only 10 lines.

Is there any way to get the whole undo section.

[2018-05-09 16:08] #117 closed

[2018-05-13 08:48] #121 closed

[2018-05-13 08:57] harawata commented on #121
Hi @poojagit912 ,

I'm sorry for the late response, but the problem should be resolved in the latest 3.3.5-SNAPSHOT.
It would be great if you could verify the fix when you have some spare time.

Thank you for the report!
Iwao

[2018-05-14 18:17] harawata commented on #118
Hi @djeanprost ,
Just FYI, this has been fixed in the core.
It should be possible to verify the fix by replacing MyBatis JAR in 'lib' directory and edit the startup script (bin/migrate).
Thank you for taking the time to report this!

And thank you for the comment, @h3adache !
Let's keep that option open.

[2018-05-17 15:37] djeanprost commented on #118
Hello @harawata
I just tested with https://oss.sonatype.org/content/repositories/snapshots/org/mybatis/mybatis/3.5.0-SNAPSHOT/mybatis-3.5.0-20180515.194833-33.jar instead of "C:\bin\mybatis-migrations-3.3.3\lib\mybatis-3.4.6.jar", and my first test fails : mybatis still exit with a success return code instead of failing.

I will double check my configuration setup.
Can you confirm the mybatis.jar

[2018-05-17 16:46] harawata commented on #118
Thanks for testing, @djeanprost .
Yes, that version should work as you expect.
Here are a few things you should check.

- The original mybatis-3.4.6.jar must be removed from the `lib` directory. The JARs in that directory are added to the classpath.
- This one would be obvious, but as you're on Windows, the startup script you need to edit is `bin/migrate.cmd`.

[code]

[2018-05-17 17:20] djeanprost commented on #118
@harawata
Well, I followed your instructions and it's now ok. I hadn't expected that jars in lib are actually added twice in classpath :
- once by endorsed mecanism
- once by being explicitely added

So after removing the old jar in the lib directory, my script fails as expected because of my error in my script.
Thank you for helping. I think I will close this issue, and wait for the next release

[2018-05-17 17:20] #118 closed

[2018-05-17 17:45] harawata commented on #118
Glad to know it worked. Thank you for the follow-up, @djeanprost !

[2018-05-18 07:27] djeanprost commented on #118
@harawata Do you have a release date for the 3.3.5 version ?

[2018-05-18 16:45] harawata commented on #118
@djeanprost ,
I would release it ASAP, but as you might be aware, the fix was made in the core, so Migrations has to wait for the next core release (MyBatis 3.5.0) and it's hard to say 'when' at this point.

@h3adache  and I were discussing possible solutions to this undesirable project dependency issue, but there is nothing conclusive yet.
I'm sorry for the inconvenience.

[2018-05-23 13:58] h3adache opened #122 "Jar (Archive/Zip?) Migration Loader"
A built in jar migration loader would be nice.
I'm reuse my own jar migration loader quite a bit atm.

[2018-05-30 09:18] Anusha2605 opened #123 "Skipped installation gives result as success. Can it be changed to 'Failure' or at-least a Warning message?"
The issue is that, currently the latest entry in changelog table is the one with current timestamp. if we try to install a file with timestamp lesser than the latest one in changelog, it skips the installation and returns the result as success. It would be better if that result is a failure message or at-least a warning message.

[2018-06-04 22:25] fhussainVeritix commented on #99
Hi guys,
any one here have some documentation on how to integrate mybatis data migration with maven
thx

[2018-06-05 02:28] harawata commented on #99
Hi @fhussainVeritix ,
Check out the maven plugin.
http://www.mybatis.org/migrations-maven-plugin/

[2018-08-09 13:02] #123 closed

[2018-08-09 13:08] harawata commented on #123
Thank you for the suggestion, @Anusha2605 .
Migrations now prints WARNING message. Please see #125 for the details.
It would be great if you could verify the feature with 3.3.5-SNAPSHOT.

[2018-08-11 15:32] #106 closed

[2018-08-11 15:40] harawata commented on #106
Thank you, @chb0github .
before_new and after_new hooks are now available in the latest 3.3.5-SNAPSHOT.

[2018-08-16 17:38] h3adache commented on #122
Hi @harawata! Sorry for the late response. I've been away.
The problem isn't with the custom migration loader, it's due to when it reads environment/xx.properties
This is assumed to be on the file system and not able to read using the migration loader.
A file loader strategy or {{ResourceLoader}} like Spring has would be a solution here.

[2018-08-22 08:21] lgdop opened #127 "Possible ArrayIndexOutOfBoundsException when reading DO part of a script"

[2018-08-22 12:30] lgdop commented on #127
I suspect below is the cause, that is because of providing a comment of 345 characters length in migration script.
For example:
/*aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa

[2018-08-23 05:07] harawata commented on #127
Hi @lgdop ,

Adding the comment to a migration script didn't reproduce the exception with Migrations 3.3.4 and MySQL 5.7.22 (Connector/J 8.0.11).

Please add ```--trace``` command line option and it will print the stack trace.

[code]

We may also need the following information.

- Migrations version. Run ```migrate info```.
- DB vendor and version (e.g. MySQL 5.7.22, Oracle 10g, etc.)
- JDBC driv

[2018-08-24 16:02] harawata commented on #122
@h3adache ,
It may be possible to provide another extension point like custom file migration loader.
I'll look into it.

[2018-09-03 12:52] luryson commented on #127
"java.lang.ArrayIndexOutOfBoundsException" was thrown when length of one single line of sql exceeded 1024 chars.

[2018-09-03 13:36] harawata commented on #127
@luryson ,

I still could not reproduce it.
Could you provide the information I requested in my previous comment?

[2018-09-03 13:50] luryson commented on #127
@harawata
<pre>
ERROR: java.lang.ArrayIndexOutOfBoundsException
org.apache.ibatis.migration.MigrationException: java.lang.ArrayIndexOutOfBoundsException
	at org.apache.ibatis.migration.CommandLine.runCommand(CommandLine.java:81)
	at org.apache.ibatis.migration.CommandLine.execute(CommandLine.java:45)
	at org.apache.ibatis.migration.Migrator.main(Migrator.java:20)
Caused by: java.lang.ArrayIndexOut

[2018-09-03 13:52] Anusha2605 commented on #127
1. Migrations version. Run migrate info.
 - Run Mybatis
------------------------------------------------------------------------
-- MyBatis Migrations - info
------------------------------------------------------------------------
null 3.3.5-SNAPSHOT (null)
Java version: 1.6.0_41, vendor: Sun Microsystems Inc.
Java home: /usr/lib/jvm/java-1.6.0-openjdk-1.6.0.41.x86_64/jre
Default locale: en_US, pl

[2018-09-03 13:56] luryson commented on #127
------------------------------------------------------------------------
-- MyBatis Migrations - info
------------------------------------------------------------------------
null null (null)
Java version: 1.8.0_152, vendor: Oracle Corporation
Java home: /Library/Java/JavaVirtualMachines/jdk1.8.0_152.jdk/Contents/Home/jre
Default locale: zh_CN, platform encoding: UTF-8
OS name: "Mac OS X", version

[2018-09-03 14:59] harawata commented on #127
Thanks for your help, @luryson !
I've found my mistake. :D

[2018-09-03 17:52] #127 closed

[2018-09-04 03:09] luryson commented on #127
@harawata cool

[2018-09-04 03:14] harawata commented on #127
Reproducing the problem is always the hardest part. :)
Anyway, the fix is available in the latest 3.3.5-SNAPSHOT.
Please let us know if you find any problem.

And again, thank you both for taking the time to report!

[2018-09-10 15:19] cvavala opened #130 "Problem with delimiter in string literals"
DBMS in use: Oracle 12c

(development.properties)
[code]

(script in error)
[code]

migrate up output
[code]

This happens, apparently, because migrate is treating the character "/" inside the comments string literal ("Creazione dati per Report mensile Ufficio Promo, nuova versione da elaborazione riferita a Dicembre2016/Dicembre2015") as a script delimiter

[2018-09-14 03:11] cocoa-maemae opened #132 "Regarding install version info"
Hello.

I would like to install mybatis-migrations newly, however, installation version is old.
Now I fixed only the version info, could you check and merge it?
https://github.com/mybatis/migrations/pull/131

[2018-10-03 14:44] cvavala opened #134 "migrate script output incomplete"
[code]

[2018-10-03 14:48] harawata commented on #134
Seems like a duplicate of #121 .
Could you try it with 3.3.5-SNAPSHOT?
The bundle.zip is [here](https://oss.sonatype.org/content/repositories/snapshots/org/mybatis/mybatis-migrations/3.3.5-SNAPSHOT/).

[2018-10-03 15:09] cvavala commented on #134
Yes, it works with 3.3.5-SNAPSHOT.
Thanks

[2018-10-03 15:09] #134 closed

[2018-10-07 12:47] harawata commented on #118
As there have been several bug fixes, I plan to release Migrations 3.3.5 without this one.
See my comments [[1]](https://github.com/mybatis/migrations/issues/118#issuecomment-388913263) [[2]](https://github.com/mybatis/migrations/issues/118#issuecomment-389933168) for a workaround.

[2018-10-19 14:50] stephen-bealine commented on #114
Hi @h3adache, any chance you could expand on how you use gradle to replace the tokens in your environment file. I am trying to do the same (or at least similar) and having no luck.

I have a ci.properties which contains the following
url=jdbc:postgresql://localhost:5432/${db_name}

Am just wanting to use a dynamic DB name within our CI environment.

Ideally I'd like to use a custom task, which pop

[2018-12-06 14:06] evandroamparo commented on #98
The only solution is to save the scripts with windows-1252. But if I forget to do this, worng data may be inserted.

[2018-12-07 13:54] harawata commented on #98
@evandroamparo ,

I have uploaded a simple test project :
https://github.com/harawata/mybatis-migrations-issues/tree/master/gh-98
It does not include the driver. Download Jaybird 3.0.5 JDK 1.8 from [here](https://firebirdsql.org/en/jdbc-driver/) and copy `jaybird-full-3.0.5.jar` to the `driver` directory.

Note that:

- All scripts are saved in UTF-8
- `UTF8` is set to `script_char_set`
- JDBC con

[2018-12-10 13:14] harawata commented on #98
Good! Thanks for letting us know the result! :D

[2018-12-10 13:14] #98 closed

[2019-01-27 01:42] h3adache commented on #105
closed by https://hub.docker.com/r/mybatis/migrations

[2019-01-27 01:42] #105 closed

[2019-01-30 20:26] Bessonov opened #141 "Support for Postgresql/CockroachDB?"
I'm trying to migrate from MariaDB/AuroraDB to CockroachDB. I'm not sure about it, but I wonder how can it work with Postgresql or CockroachDB for statements like [this](https://github.com/mybatis/migrations/blob/master/src/main/java/org/apache/ibatis/migration/operations/DatabaseOperation.java#L53):

[code]

It works on both databases, if columns passed as strings:

[code]

Do I miss something?

[2019-01-31 05:18] harawata commented on #141
Hi @Bessonov ,

Did you modify the first migration script (i.e. xxx_create_changelog.sql) generated by the `init` command?
According to the [doc](https://www.cockroachlabs.com/docs/stable/keywords-and-identifiers.html#rules-for-identifiers), it happens only if you used double-quotes when creating the table and the built-in template does not use double quotes.
https://github.com/mybatis/migrations/

[2019-01-31 08:52] Bessonov commented on #141
@harawata thank you very much for your quick and insightful response!

I didn't modified the changelog script, but well, looked at intermediate PostgreSQL dump I see:

[code]
I've not tested yet, but I think it is.

[2019-01-31 08:52] #141 closed

[2019-03-14 08:40] Anonymous-Coward opened #142 "Is there an officially supported way of integrating with gradle?"
I have searched through all tickets to the project, both closed and open, for gradle, but didn't find anything relevant.

All plugins that google finds are either not available in the gradle plugin repo or rely on ancient mybatis migrations versions.

All solutions I have found rely on driving the mybatis migrations jar from custom Java code.

Is there something as simple as plugging an official p

[2019-03-14 23:50] h3adache commented on #142
Sorry there is not @Anonymous-Coward. I half started one but never published it. I'll talk to @harawata about completing and adding it to release

[2019-08-20 12:35] #114 closed

[2019-08-20 12:47] #119 closed

[2019-09-17 07:23] seriwb opened #148 "Release 3.3.6 material structure is different from usual"
Release 3.3.6 includes the feature I wanted. thank you.
But, a few things are different from usual.

- missing bin directory
- mybatis-migrations-3.3.6.jar is not in lib directory

I'm glad that it's the usual structure.

[2019-09-17 12:37] harawata commented on #148
Thank you for letting us know, @seriwb !
I have replaced the zip archive on the [release page](https://github.com/mybatis/migrations/releases/tag/mybatis-migrations-3.3.6).

[2019-09-17 12:51] seriwb commented on #148
@harawata
I confirmed it is back! thanks

[2019-09-17 12:51] #148 closed

[2020-01-05 06:25] hazendaz opened #155 "Migrate to junit 5"
pending progress [here](https://github.com/stefanbirkner/system-rules/issues/55) and [here](https://github.com/stefanbirkner/system-lambda/)

[2020-01-16 15:51] thorstenwitt opened #157 "Incompatible MigrationTemplate change"
We used the version 3.1.0 of mybatis migration where template is:

[code]

Now we want to update mybatis migration to 3.3.6 and found out that the template changed to:

[code]

Now I got always a syntax error when I try to execute:

`migrate up`

Could you please make the app accepting the old template style.

[2020-01-16 17:15] harawata commented on #157
Hello @thorstenwitt ,

It may be the result of #101 (the change explained in 2).
Although it seems like a trivial change, it actually makes a big difference to the parser logic and its performance, so I would rather not bring back the support for the old template style.
I understand the frustration, but isn't it possible for you to replace `--//` with `-- //` once and for all?

[2020-01-17 14:36] thorstenwitt commented on #157
Hello @harawata

Of course it is possible.
I just had the hope that there is a workaround our something to customize the template.

[2020-01-17 15:39] harawata commented on #157
Hi @thorstenwitt ,

I might have misunderstood.

I thought it was your old migration script generated by Migrations 3.1.0 (which contains `--//`) causing the syntax error when you executed `migrate up` using Migrations 3.3.6 (this could happen if you use MariaDB or Db2).

But was it actually the script generated by Migrations 3.3.6 (which contains `-- //`)  causing the error?
Then which DB/driver

[2020-02-10 20:25] Anonymous-Coward opened #160 "migrate version fails on empty database"
Steps to reproduce:
- create an empty migrations directory
- develop some migrations on a local database
- create/configure a second environment, targeting another database, which is empty
- run migrate version <some version> for the second environment, using a valid migration version

Expected results:
- the second database gets updated to the specified version, even if it is not the last

Actual

[2020-02-11 23:33] #160 closed

[2020-02-12 04:43] harawata commented on #160
Thank you for the report, @Anonymous-Coward !

I have committed a fix.
It would be great if you could verify the fix using the latest [3.3.7-SNAPSHOT](https://oss.sonatype.org/content/repositories/snapshots/org/mybatis/mybatis-migrations/3.3.7-SNAPSHOT/).

[2020-02-13 15:08] Anonymous-Coward commented on #160
I would love to test this, but I'm using mybatis migrations through the maven plugin, and unfortunately don't have the time to set up a test env right now. But I'm happy to hear it's fixed - it will eventually get pushed to the maven plugin too, I suppose.

[2020-02-13 16:42] harawata commented on #160
As it's been a while since the last release, we released 3.3.7.
https://repo1.maven.org/maven2/org/mybatis/mybatis-migrations/3.3.7/

The maven plugin hasn't been updated for a while as there has been no real change.
You can use a newer version (or a snapshot version) of Migrations by specifying the plugin dependency explicitly in your pom.xml.

[code]

[2020-02-13 21:43] Anonymous-Coward commented on #160
Just checked, 3.3.7 is not yet available on mvnrepository.com. Do you have a repo URL for me too, or will it get published soon?

[2020-02-14 13:53] harawata commented on #160
It takes a while for a new version to show up on mvnrepository.com as they have index interval (I guess). It's now visible.
https://mvnrepository.com/artifact/org.mybatis/mybatis-migrations/3.3.7

[2020-03-01 00:02] jmoraleda opened #162 "Integration between subprojects Migrations (Runtime) and Spring Boot Autoconfigure"
We already use _mybatis-spring-boot-autoconfigure_ and _Mybatis_ in our project extensively and are very happy with it.

We currently use liquibase for schema migration, and are reasonably happy with it, but we are missing the flexibility of mybatis and are considering moving to _Mybatis Migrations Runtime Schema Upgrade_ instead.

We have been unable to find any documentation on how to integrate

[2020-03-01 13:37] harawata commented on #162
Hello @jmoraleda ,

Does this answer help?
https://stackoverflow.com/a/55873047

[2020-03-01 19:10] #162 closed

[2020-03-01 19:14] jmoraleda commented on #162
Hello @harawata Thank you very much for your super quick response! I just tested your sample project with our database and it works beautifully. This fully answers my question. Thank you for a great project!

[2020-03-02 23:47] jmoraleda commented on #162
Hello @harawata. Inspired by your post and the autoconfigure project mentioned above I have created the attached project that is fully operational and integrates mybatis migrations into a spring boot project. One can specify in application.yaml multiple java packages and/or resource folders in the jar/war containing the sql scripts.

It depends on our own parent pom, so you won't be able to compil

[2020-03-03 15:16] h3adache commented on #162
I think this would be great idea as it seems that several people are doing
this work on their own.
I’ll try to take a look at your solution and also touch base with @harawata

On Mon, Mar 2, 2020 at 18:47 Jorge Moraleda <notifications@github.com>
wrote:

--

[2020-03-07 02:41] jmoraleda commented on #162
I added the feature where the changelog table is created automatically [mybatis-migrations-spring-boot.zip](https://github.com/mybatis/migrations/files/4301308/mybatis-migrations-spring-boot.zip)

[2020-03-10 08:55] viogate-team opened #163 "MigrationReader tries to read closed stream"
Version 3.3.2 includes a refactoring of class MigrationReader where it now extends class FilterReader. It appears (part of) this change has broken certain aspects.

I created a sample project to illustrate the bug: https://github.com/viogate/mybatis-migrations-bug.git. The unit tests in that project run fine. Upgrading to mybatis-migrations >= 3.3.2 however breaks the unit tests.
This is the stack

[2020-03-10 09:06] viogate-team commented on #163
Issue should have been created for repo https://github.com/Bessonov/mybatis-migrations-spring-boot-autoconfigure.

So closing this one.

Sorry for the inconverience.

[2020-03-10 09:06] #163 closed

[2020-05-19 02:01] zhaokewugou opened #167 "JVM parameter PermSize=128m was not supported by JDK1.8"
issue :
 When I use mybatis migrations tool in my project. It shows an error that OpenJDK 64-Bit Server VM warning: ignoring option PermSize=128m; support was removed in 8.0.  I searched some documentations, and found that JDK1.8 will not support option `PermSize=128m`. So should we modify the pom.xml.
https://github.com/mybatis/migrations/blob/mybatis-migrations-3.3.7/pom.xml#L154

[2020-05-19 02:21] #167 closed

[2020-05-19 02:25] harawata commented on #167
You are right.
Thank you for the report, @zhaokewugou !

[2020-06-11 09:30] Bessonov commented on #162
Hey folks, I've switched from Java to Node and therefore I'm not able to test and maintain the project mentioned by @jmoraleda in regards of time and quality. Is there any work happens @h3adache ? It would be nice to have an official integration. If you want to use my project as a base or in parts I'm very happy to grant everything.

[2020-07-13 21:53] sjanssens1977 opened #171 "[Feature request] Preserve blank lines in statements during script migrations"
The following migration script is used to insert some markdown text into a Postgresql text column.

[code]

Retrieving the value from the agenda column gives the following text

[code]

This is not the original text from the migration script.
**The blank lines (in this case containing only carriage return and new line characters) are missing.**
The result is a difference in representation between

[2020-07-21 17:19] harawata commented on #171
Hello @sjanssens1977 ,

I'm sorry about the belated reply.

Relying on the line break of the file may not be a good idea (it could be modified by SCM).
The recommended way is to use string functions to build the text. e.g.

[code]

[2020-07-23 11:23] sjanssens1977 commented on #171
Hello @harawata ,

No worries about the delay, it's summer time in Europe so a lot of people are on holiday.

I agree that relying on a line break may cause issues with SCM.
The workaround makes the conversion from Markdown to SQL statement a little bit more cumbersome but will work.

Thanks for the advice.

[2020-07-23 11:23] #171 closed

[2020-09-01 07:27] printjs opened #172 "Can't insert record of migrate up in changelog."
[code]

I use postgresql.  I got an error when I exec "migrate up". The ERROR message like fellow:
[code]
But The changelog table has been created.

I think the error reason is migrations insert the record of "create table test.changelog" in public schema but I created the table in test schema. So how to resolve it. May be the reason is not correct. Someone help me ? Thank you.

[2020-09-01 12:18] h3adache commented on #172
Hi @printjs!

The easiest way is to configure your database in your connection string use Postgres syntax (database and schema are the same in Postgres)

`jdbc:postgresql://host/database`

Otherwise, Mybatis won't know what schema you are writing to.

Another way to do it is to change the `changelog` property to contain your schema name as well. But if you do it that way you have to remember to na

[2020-09-02 01:38] printjs commented on #172
@h3adache Hi, About function one. `jdbc:postgresql://host/database` only provides type of database, host address and database. The connection can't provides schema. So I can't insert data when the table not in public schema. I must make it clear that the schema name is in the sql statement.
My issue is "migrate up" can't insert record of "create table test.changelog". The insert sql is automatic g

[2020-09-02 01:50] h3adache commented on #172
Can you provide an example project on your github?

[2020-09-02 02:00] printjs commented on #172
@h3adache Yes, of course. The address is `https://github.com/printjs/migration_stock` thanks.

[2020-09-02 23:45] h3adache commented on #172
Remove the `schema` config from your `local.properties` and your `create_changelog.sql` script and use
`currentSchema=test` in your connection url as documented https://jdbc.postgresql.org/documentation/head/connect.html

[2020-09-03 05:39] printjs commented on #172
@h3adache Thank you.

[2020-09-03 05:39] #172 closed

[2020-11-25 11:23] kenny-qiao opened #176 "Driver Class Load Failure on 3.3.8"
## Background
![image](https://user-images.githubusercontent.com/23731080/100220644-9e9f5d00-2f52-11eb-908b-0280a928333f.png)

Upgrade migration version from 3.3.7 to 3.3.8, then error happened like:

[code]

**JDBC connection properties**:
![image](https://user-images.githubusercontent.com/23731080/100220943-fb9b1300-2f52-11eb-8e57-7cd2e88adc93.png)

I have no customized configurations, just `ini

[2020-11-25 15:47] harawata commented on #176
Thank you for the report, @kenny-qiao !
I'll look into it as soon as I get some spare time.

[2020-11-26 02:11] kenny-qiao commented on #176
@harawata I did some test and found the error came from `Class.forName(driver);` at
[code]

[2020-11-26 04:19] h3adache commented on #176
Hi @kenny-qiao thanks for the report!
I can confirm the issue. It looks like it happened when we removed `UnpooledDataSource`.

[2020-11-26 04:35] kenny-qiao commented on #176
@h3adache Ah, it is good.
So is there any plan for it, like issue a bug and fix it in next version? 🤔

[2020-11-26 06:23] h3adache commented on #176
Yes we will prioritize a fix and release soon as we can!

[2020-11-26 20:43] harawata commented on #176
Hi @kenny-qiao ,

@h3adache has already fixed the bug I carefully implemented. ☹️
Could you verify the fix using the latest snapshot?
There is a zip archive in the [snapshot repo](https://oss.sonatype.org/content/repositories/snapshots/org/mybatis/mybatis-migrations/3.3.9-SNAPSHOT/) (please use the newest one if there are many).

[2020-11-27 04:07] kenny-qiao commented on #176
@harawata @h3adache Thanks for your quickly fix.

I did a simple test and got error:
![image](https://user-images.githubusercontent.com/23731080/100409902-0f0bc280-30a8-11eb-9ed7-86e74184543d.png)

I think the big issue above has been fixed. But it seems that there is still a problem caused by using `JdbcConnectionProvider` instead of `DataSourceConnectionProvider`. 😢

Maybe you can re-open this i

[2020-11-27 04:36] h3adache commented on #176
@kenny-qiao I'm sorry this is my fault.
It was late and I made a mistake refactoring my patch.

[2020-11-27 16:42] #176 closed

[2020-11-28 03:42] kenny-qiao commented on #176
@harawata @h3adache
I have tested both `mybatis-migrations-3.3.9-20201127.164611-2-bundle.zip` and branch `master`.
They all work very well. 🚀

Thank you guys very much. 👍

[2021-03-06 07:36] harawata opened #182 "Special syntax `-- //@DELIMITER` could cause SQL syntax error"
Initially reported in the mailing list.
https://groups.google.com/g/mybatis-user/c/v-2cgW7uwJc/m/VqUOuG-XAQAJ

When specifying a delimiter using the syntax with double slash, the line break on that line is not retained.
This could break the SQL statement following the delimiter line.

[code]

The syntax without double slash is not affected by this bug.

[code]

[2021-03-06 08:42] #182 closed

[2021-04-14 00:17] tohagan opened #185 "Typo in error message"
"conneciton" should be "connection".

- ` throw new MigrationException("Error getting conneciton. Cause: " + e, e);`

https://github.com/mybatis/migrations/blob/ea5cf911b5841cd91b516237a637155b1f7bffad/src/main/java/org/apache/ibatis/migration/operations/StatusOperation.java#L77

[2021-04-14 02:44] #185 closed

[2021-04-14 02:49] harawata commented on #185
Thank you, @tohagan !
It will be corrected in the next release 3.3.10.

[2021-04-26 07:43] boginw commented on #142
I've created a Gradle plugin for migrations for the same reasons @Anonymous-Coward mentioned. You can find it [here](https://github.com/boginw/migrations-gradle-plugin). I was hoping that this repository could be moved to the MyBatis organization. This would guarantee the widest adaptation rate. I'm willing to maintain this repository for the foreseeable future. Would this be a possibility @h3adac

[2021-07-07 13:27] pkolodziejczyk opened #191 "Feature request : Disable the WARNING: Missing migration script."
## MyBatis version
3.3.9

When doing a migrate status

Would like to have a way to disable this specific warning.

I have search the documentation and the code. But, I haven't found the anything related.

[2021-07-07 18:45] harawata commented on #191
Hello @pkolodziejczyk ,

May I ask why?
There should be no missing script in any situation, I think.

[2021-07-15 14:21] pkolodziejczyk commented on #191
The current setup where I work :

Each version have a new git branch that include only the new script that will be released.

One data base that contains the history of past version.

When we release a version, we generate the scripts to pass in production. Then added the branch to the master branch.

So, when we are on a branch of a version. We only have the script of this version. It's allow use

[2021-07-15 16:11] harawata commented on #191
Hello @pkolodziejczyk ,

In that case, it seems to be the right/expected behavior to output the warning, I'm afraid.
As it is just a warning and does not make your migration fail, you should just ignore it.
Another workaround would be to add the `--quiet` option when executing the `migrate` command.

[2021-07-16 12:53] pkolodziejczyk commented on #191
Well a --quite  status return :

So the status command become useless.

And the desired outcome is :

without :

If --quite could be change for status to have a useful behaviour. It's okay for me to have those warning in standard.

[2021-07-17 07:26] harawata commented on #191
Although it might be useful to you, it makes it `--quiet` option useless.
As I mentioned, the warning does not change the result of your migration, so you should be able to ignore it safely.

[2021-07-20 02:01] LazyRichard opened #192 "How can I using with mybatis session?"
Hi, currently I try to implement runtime schema migration with mybatis and mybatis-migration.

but when I try using migration operation with mybatis sessionFactory but failed.

[code]

The error message is like below.

[code]

I also tried with `openSession(false)` that is not autocommit session. but then the below error occured.

[code]

Current my workaround is create mybatis sessionFactory and

[2021-07-20 06:16] harawata commented on #192
`ConnectionProvider#getConnection()` needs to return a new connection.
It's better to use `DataSource` directly with the built-in `DataSourceConnectionProvider`.

[code]

[2021-11-18 07:09] sivasankarreddy0507 opened #198 "Unsupported major.minor version 52.0"
Trying to setup mybatis-migrations-3.3.9 on Solaris machine with java version "1.6.0_85". After using the command "migrate init " the below error is coming. Please assist in resolving the below issue. Please recommend the mybatis compatibile version for java 1.6 and 1.8 version.

~/MyBatis/mybatis-migrations-3.3.9/mybatis_repo $ migrate init
Exception in thread "main" java.lang.UnsupportedClassVer

[2021-11-18 07:26] harawata commented on #198
Migrations 3.3.5 should work with Java 1.6.
https://github.com/mybatis/migrations/releases/tag/mybatis-migrations-3.3.5
mybatis-3.4.6 included in the zip archive also supports Java 1.6.

[2021-11-22 10:16] sivasankarreddy0507 commented on #198
does mybatis-migrations support java version 1.4?if yes, which version should be used.

[2021-11-22 12:42] harawata commented on #198
Nope. There is no version that supports 1.4.

[2021-11-22 19:29] harawata commented on #198
You might be aware, but you can use Migrations from another machine if the DB server accepts JDBC connections.

I'll close this as it's not a bug report nor feature request.

[2021-11-22 19:29] #198 closed

[2021-11-24 01:42] tohagan-tmr opened #199 "1st migration (for changelog) still shows "pending status" even though the changelog table is created and updated??"
I am testing code exported by the `migrate script` command.  When I run `migrate up 1` and check `migrate status` it works just fine - records the update in the `RM_CHANGELOG` table as configured in `development.properties`.

However, when I export an SQL script (for our DBA's to run) and test it on the development database it creates the `RM_CHANGELOG`  table and inserts the correct record in the

[2021-11-24 02:02] tohagan-tmr commented on #199
After running the 2nd and 3rd migrations ...

[code]

[2021-11-30 07:15] tohagan-tmr opened #201 "BUG: `migrate script`: 1st migration rollback will always fail due to invalid DELETE statement"
The first migration creates the CHANGELOG table correctly drops that table when you rollback (Undo).  However, if you emit SQL script using `migrate script --some-number-- 00000000000000 > rollback01.sql` for this 1st migration, the rollback code includes a DELETE statement on the CHANGELOG table that will fail because the CHANGELOG has just been dropped.

[2021-12-01 01:32] tohagan-tmr commented on #199
Solved this mystery.  When generating SQL via `migrate script` each INSERT / DELETE to RM_CHANGELOG needs a following COMMIT for Oracle DB with AUTOCOMMIT OFF.   Oracle DB will COMMIT an INSERT or DELETE if it's followed by a DDL statement so some INSERTS worked but the last one failed.  Unsure if a hook event will fix this.  Will try.

[code]

[2021-12-01 01:33] tohagan-tmr commented on #199
I'd also like to mentioned that the APPLIED_AT value in invalid since it should reflect the time of the generated SQL script was executed rather than the time the `migrate script` code gen was run.

[2021-12-01 01:40] tohagan-tmr opened #202 "BUG: `migrate script` sets the wrong APPLIED_AT value"
The APPLIED_AT value is invalid since it should reflect the time the generated SQL script was executed rather than the time the `migrate script` code gen was run. It's important to have the correct value set for data management auditing.

If the APPLIED_AT field was a DATETIME value then it would be easier to fix this using generic SQL but since its VARCHAR we may need a property settings to speci

[2021-12-01 03:24] tohagan-tmr commented on #199
Sadly, SQL hooks are NOT included in the code emitted by `migrate script` .

[2021-12-01 03:34] tohagan-tmr opened #203 "BUG/Feature?: `migrate script` : SQL hooks are NOT included in emitted SQL code."
I found that when using this setting in `development.properties` ...

[code]

The SQL in `after-each-up.sql` and `after-each-down.sql` was correctly executed when running `migrate up` and `migrate down` but was excluded from code emitted by `migrate script`.

I'd recommend this feature be added and enabled via an option in `.*properties` files such as `hook_sql_scripts_enabled=true` which would be

[2021-12-04 05:24] harawata commented on #201
You are right ... but I'm not sure what you expect to happen.
If you need to `migrate down` the first migration, maybe you should create the changelog table in `bootstrap.sql` rather than in the first migration script.

[2021-12-04 06:45] harawata commented on #203
Hello @tohagan-tmr ,

#199 seems like a good use case for this enhancement (i.e. append `COMMIT` call after inserting changelog entry).
The implementation will be significantly different from the existing hooks, so give me some time to think about it.

[2021-12-05 23:47] tohagan-tmr commented on #201
Currently it's emitting
[code]

So ... what I'm suggesting is that the code in `migrate script` that emits this DELETE statement just need to have a condition that checks if it's the 1st migration and in this instance avoids emitting the DELETE statements.

[2021-12-06 01:58] tohagan-tmr commented on #201
I've had a closer look at the code and I can see that it would likely need to replace reading migration files using buffers with either reading the whole file or a line at a time so you can reliably search for a line containing "DROP TABLE ${changelog};".

[2021-12-06 02:04] harawata commented on #201
I would like to avoid searching a particular string in a file.
How about omitting the `INSERT` when the first migration script's description is 'create changelog'?

[2021-12-06 02:08] tohagan-tmr commented on #201
Yeah sure ... that might be simpler!

[2021-12-06 15:59] #201 closed

[2021-12-07 02:42] tohagan-tmr opened #205 "Feature: redo command (like Rails db:migrate:redo)"
Please add a `migrate redo` command so that ...

    $ migrate redo

... runs `migrate down 1` and if that succeeds it runs `migrate up 1` and ...

    $ migrate redo 3

... runs `migrate down 3` and if that succeeds it runs `migrate up 3`

I know, I know .... I've asked a lot this week!  But I think this would be a great addition and should be dead easy to implement.

I've recently been using Rub

[2021-12-07 05:59] tohagan-tmr commented on #205
Here's the equivalent Bash function ...

[code]

[2021-12-07 13:30] #203 closed

[2021-12-07 13:51] harawata commented on #202
Hi @tohagan-tmr ,

It makes sense, but I cannot think of a solution that works with all (or most major) databases and does not break backward compatibility.

As a workaround, you may be able to use the 'script hook' to append UPDATE statement after each migration scripts.
The hook script would look something like this:

[code]

Does this work for you?

FYI, you can test the 'script hook' using the

[2021-12-07 23:30] tohagan-tmr commented on #202
Yeah that should be fine.  Sad we can't fix it for the generic case.

Might be something to keep mind if you're ever contemplating a future major version. You could then convert APPLIED_AT to a DATETIME field and offer sample migration rules to convert the column for various database types.

Thanks very much for all your help this week. Greatly appreciated.

[2021-12-08 14:16] #205 closed

[2021-12-08 14:48] harawata commented on #202
Will do!
Thank you fro the valuable feedback!

Note to self:
Changing the column data type may require extra initial configuration which is a huge minus.
The standard `CURRENT_TIMESTAMP` function can be used with a VARCHAR column, however, its output format varies between DB vendors and the current column size (=25) is too small.

[2021-12-08 17:34] harawata commented on #157
No response.
Let me know if my questions weren't clear enough.

[2021-12-08 17:34] #157 closed

[2021-12-08 17:35] harawata commented on #192
Closing.
Let me know if my explanation wasn't clear.

[2021-12-08 17:35] #192 closed

[2021-12-08 17:37] harawata commented on #191
Closing as won't fix.
Hope my explanation was satisfactory.

[2021-12-08 17:37] #191 closed

[2021-12-09 11:29] harawata commented on #155
@hazendaz ,

I'm working on this. Hope it was OK.

[2021-12-09 16:40] #155 closed

[2021-12-12 18:19] harawata commented on #199
As per my previous comment,  I'm going to close this issue.
We plan to release 3.3.10 soon.

[2021-12-12 18:19] #199 closed

[2021-12-12 23:39] tohagan-tmr commented on #205
Thank you !!

[2021-12-13 04:27] harawata commented on #205
I actually do the down-then-up a lot, so thank you for the request! :)

[2022-05-21 14:19] szj-coder opened #220 "MigrationException: Error executing command. Cause: null"
Hi,
I'm using `mybatis-migration:3.3.9` for data migration and I'm getting a strange exception, only when I deploy in Amazon cloud environment, I can't locate the exception based on the exception stack information.

[code]

Please consider cleaning up the following code in PendingOperation.java and DownOperation.java and UpOperation.java

[code]

Thanks

[2022-05-21 14:45] harawata commented on #220
Hello @szj-coder ,

Please provide more information so that we can reproduce the exception.
- DB version, driver version
- migration scripts
- configuration
- the steps/commands to reproduce the problem
- what do you mean by 'deploy in Amazon cloud environment'

[2022-05-21 15:37] szj-coder commented on #220
I am still troubleshooting the cause of the problem, my service is spring-boot architecture, deployed on cloud environment via docker container, before we can execute scripts normally in Ali cloud or company k8s or my local environment, only recently we have this exception when deployed on aws cloud, I will consider syncing the information here after locating the problem.

The exception is current

[2022-05-21 19:05] harawata commented on #220
I honestly do not understand what you are doing. :D
You are not executing `migrate pending` command from within the spring-boot app, are you?

Anyway, please let us know if you find more info for us to work with.

[2022-05-23 03:49] szj-coder commented on #220
I modified the exception logic, and the following code was cleaned up

[code]

Exception Stack:

[code]

The reason for the exception is tablename case mismatch

[2022-06-04 17:10] harawata commented on #220
Could you post the entire stack trace, please?

[2022-06-07 09:11] szj-coder commented on #220
@harawata Take a look at the exception thrown here，you can simulate the change log table does not exist to view stack information

https://github.com/mybatis/migrations/blob/9d53336da76d1e99da1aca3634ccc33904cb32be/src/main/java/org/apache/ibatis/migration/operations/PendingOperation.java#L49-L51

Error message will be erased here

https://github.com/mybatis/migrations/blob/9d53336da76d1e99da1aca3

[2022-06-07 11:11] harawata commented on #220
@szj-coder
Stack trace shows the call stack that causes the exception and that is the information I would like to see.
If it's difficult, please provide the exact steps to reproduce the problem.
So far, there is not enough information for us to reproduce the problem you are experiencing on our end.

[2022-06-08 02:15] szj-coder commented on #220
@harawata
Oh, I just feel that the exception information here is not friendly, it is not a serious bug, it can be asserted that `MigrationException` can understand what I mean. If you think it's trivial or something else, I can close this question.

Stack trace is here
https://github.com/mybatis/migrations/issues/220#issue-1243988270

Here is the stack trace after my modification
https://github.co

[2022-06-08 06:45] harawata commented on #220
I agree that the information is not good enough and it should be fixed, but we need to reproduce the problem first (reproducing the problem is always the first step).
And to reproduce the problem, we need one of the following.

- The 'full' stack trace. Please do not pick lines. Partial stack traces are not useful to developers very much. This may provide the information about 'where this exceptio

[2022-06-08 07:27] szj-coder commented on #220
Since my code uses the lowercase `changelog` table name to create, and `org.apache.ibatis.migration.operations.DatabaseOperation#changelogExists` uses the uppercase `CHANGELOG` table name verification, and the mysql database sets the table name case sensitive

com.xxx.pip.migration.mysql.MultiMigrationSetup#doIt
[code]

Stack trace:
[code]

Hope this information can help you

[2022-06-09 22:17] harawata commented on #220
Thanks for the info, @szj-coder !
I'll try to reproduce it when I find some spare time.

[2022-06-12 19:10] #220 closed

[2022-06-13 05:46] harawata commented on #220
@szj-coder ,

This should be fixed in the latest 3.3.11-SNAPSHOT.
Thank you for taking the time to report!

[2022-06-17 06:54] xshyamx opened #225 "Init command does not accept non-existent path"
According to the [init command](http://mybatis.org/migrations/init.html) documentation giving the `--path` option should create the directory if it does not exist but, because there is a existence check in [CommandLine.java#validOptions](https://github.com/mybatis/migrations/blob/fa2e5eed6c96af513421c003013049b74f7f3e11/src/main/java/org/apache/ibatis/migration/CommandLine.java#L118) method that i

[2022-06-24 04:42] xshyamx commented on #225
On the same vein `info` also has the same problem

[code]

[2022-07-03 18:49] #225 closed

[2022-07-19 16:45] chiruyarabolu opened #232 "Facing issues with delimiter while running mybatis migrations which contains procedures"
Hello Team,

Facing issues with delimiter as the procedures syntax has multiple ";" which we used as delimiter

for example,

create or replace PROCEDURE MYBATISTEST
****code****
ORDER BY ****;
END;

The issue here is because of ";" before the END, it is taking it as a separate line and END; as a separate line.

Which is not creating the procedure properly.

Please let me know if there is any solu

[2022-07-19 19:38] harawata commented on #232
Hello @chiruyarabolu ,

You can change the delimiter using a special syntax `-- @DELIMITER`. e.g.

[code]

[2022-07-20 05:18] chiruyarabolu commented on #232
Thanks a lot this fixed the issue

[2022-07-20 05:18] #232 closed

[2022-07-20 05:20] chiruyarabolu opened #233 "Warning: Missing migration script"
Everytime I run migrate up, when there is a success it is showing up Warnings as below

WARNING: Missing migration script. id='20220609064216', description='Oraclemigrate'.
WARNING: Missing migration script. id='20220609064219', description='Oraclemigrate'.
WARNING: Missing migration script. id='20220609064220', description='ServiceLayermigrate'.

And it is piling up everytime

Anyway to remove th

[2022-07-20 05:53] harawata commented on #233
That error tells you that those script files are removed after they are applied to the database.
This should not happen, you know.

The correct way to resolve the warnings would be to restore the deleted migration script files in the 'scripts' directory.
If, for some reason, the changes applied by those scripts can be safely ignored, deleting the corresponding rows in the changelog table may also

[2022-07-22 19:28] chiruyarabolu opened #234 "Issues while creating changelog table"
I am facing the below error while using MIGRATE UP command. It is not creating the changelog table

-- // Create Changelog

-- Default DDL for changelog table that will keep
-- a record of the migrations that have been run.

-- You can modify this to suit your database before
-- running your first migration.

-- Be sure that ID and DESCRIPTION fields exist in
-- BigInteger and String compatible fi

[2022-07-23 06:31] harawata commented on #234
Hello @chiruyarabolu ,

Try...

[code]

The right value for this setting depends on the driver.

[2022-07-24 13:07] chiruyarabolu opened #235 "Clear view of logs"
Hello Team,

Any format or syntax to view the database updation logs clearly with errors in the output?

Please let me know if any

[2022-07-24 13:56] #234 closed

[2022-07-24 13:56] chiruyarabolu commented on #234
Thanks

[2022-07-25 04:02] #233 closed

[2022-07-25 17:15] harawata commented on #235
Hello @chiruyarabolu ,

I don't understand what you mean.
Please try explaining it using concrete examples.

[2022-07-26 04:04] chiruyarabolu commented on #235
While we are running the migration scripts using mybatis, there is a final output saying migration success or failed.
Is there any way to clearly view what are all the lines that got executed without issues and what are the failed lines in it.

Please let me know if we have any syntax or process to view output in such a way

[2022-07-27 19:12] ghevge opened #239 "Question: Is there a document where I can see all the supported DB engines?"
Hi,
Is there a document where I can see all the supported DB engines?
Also do you know if mybatis migration is working with NoSQL ScyllaDB ?

Thanks

[2022-07-27 20:29] harawata commented on #239
Hello @ghevge ,

MyBatis Migrations interact with JDBC API, so it may work if there is a (decent) JDBC driver for your DB.
There does not seem to be one for ScyllaDB, though.

[2022-07-28 10:13] chiruyarabolu opened #240 "How to skip failed lines in migration file"
Hello Team,

I have a script which has multiple lines of db execution lines in which if any of the lines are failed while executing it is not picking up the next lines. Any way to skip the failed lines and execute the next lines?

Ex : INSERT INTO OIPA_PAS.ASTRANSLATION (LOCALE, TRANSLATIONGUID, TRANSLATIONKEY, TRANSLATIONVALUE) VALUES ('en-US', '585E9712-9C68-4EC9-88F1-86A0D94ED05D', 'ActivityDet

[2022-07-28 17:42] harawata commented on #240
Hello @chiruyarabolu ,

You have to figure out a way to avoid the unique constraint violation.
For Oracle, you should be able to use [MERGE statement](https://stackoverflow.com/a/9332450/1261766).

[2022-07-30 18:09] harawata commented on #235
Not really.
That is why you should not put multiple statements in a single script if one or some of them could fail.

[2022-08-10 00:26] renovate[bot] opened #246 "Dependency Dashboard"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.

## Rate Limited

These updates are currently rate limited. Click on a checkbox below to force their creation now.

 - [ ] Update dependency org.mybatis:mybatis-parent to v35

## Open

These updates have all been created already. Cli

[2022-08-28 16:54] ghevge opened #258 "Question: Is there a way to overwrite the scripts folder location?"
What I'm trying to achieve is to come up with 2 sets of migration scripts and somehow instruct mybatis migration to pick up the scripts from one folder or the other, depending on the schema that I'm instructing it to use.

I'm planning to use this functionality on a postgres DB instance on which I'll have multiple schema defined. Each schema will have slightly different table structures, that is w

[2022-08-28 17:44] ghevge commented on #258
Found the solution. There is an option called SCRIPTPATH that can be passed as a command line argument

[2022-08-28 17:44] #258 closed

[2022-08-31 14:08] jwaterloo2020 opened #259 "Please make smaller; minimize dependencies"
mybatis-migrations is just 119KB but it has a dependency upon mybatis which adds 1.7MB and that doesn't even include its transitive dependencies. The only classes directly used from mybatis are Resources and ResolverUtil. Those classes are only dependent upon classes within the same org.apache.ibatis.io package. This means a self-contained or with minimized dependencies should just be under 150KB.

[2022-08-31 23:31] hazendaz commented on #259
Mybatis does include far more than it should such as logging wrapper, shade of ognl and javassist, so it has no external libs.  That number is the entire thing.  Taking out the shaded items, its 643kb.  Additionally, I've always been against wrapping logger frameworks and with slf4j major rewrite handing more doesn't seem right and detrimental in many regards.  Not to mention now it has a lot of l

[2022-09-01 21:29] jwaterloo2020 commented on #259
For the most part mybatis migrations does not need mybatis it works with DataSource really well.
Mybatis does have a security issue which mibatis migrations does not need.
Mybatis migrations, due to its potential small size, is a much better option than liquibase that does not support rollback in unpaid version and liquibase which is architecturally inconsistent. I have used all three.
...
With a

[2022-09-02 13:54] jwaterloo2020 commented on #259
I haven't tested it but shaded it is 173KB. Thank you for the suggestion. Hope it still works!

<?xml version="1.0" encoding="UTF-8"?>

<project xmlns="http://maven.apache.org/POM/4.0.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd">
	<modelVersion>4.0.0</modelVersion>

	<groupId>org.mybati

[2022-11-04 10:16] ebreeze opened #268 "Need to set Line Separator"
I am trying to use scriptRunner from CF with MSSQL scripts as follows:

[code]

With some of the scripts it works fine, but wherever a "GO" appears somethere in the script comes an exception, because it seems like all of the new lines get removed and all the lines get merged.

Seems like LINE_SEPARATOR is an empty string.

I think adding the possibility to specify the line separator would be a sol

[2022-11-04 13:54] harawata commented on #268
Hello @ebreeze ,

If you want use `ScriptRunner` outside of Migrations, please copy and modify it so that it satisfies your requirements.
It does not depend on Migrations nor MyBatis core, so there should be no difficulty.
People love this class for some reason, but it's designed to be an internal utility.

[2022-11-10 01:49] #259 closed

[2022-11-10 01:52] hazendaz commented on #259
@jwaterloo2020 mybatis 3 core is now out of this code base on master.  Feel free to give the new build a test run.